{"swagger":"2.0","info":{"description":"设置服务","version":"1.0.0","title":"设置服务"},"host":"settingapi.qiyunxin.com","tags":[{"name":"setting","description":"设置"}],"securityDefinitions":{"app_id":{"type":"apiKey","in":"header","name":"app_id","description":"应用ID"},"Authorization":{"type":"apiKey","in":"header","name":"Authorization","description":"用户token"}},"schemes":["http"],"basePath":"/v1","produces":["application/json"],"paths":{"/users/{open_id}/settings/{namespace}/components/{component}/scope/{scope}":{"put":{"tags":["setting"],"summary":"更新配置组","description":"更新配置 例如更新用户A在qiyunxin APP的群设置 /users/A/settings/qiyunxin/components/groupsetting   body为具体定义的key  value对象","operationId":"SettingAddOrUpdate","parameters":[{"in":"path","name":"open_id","description":"用户open_id","type":"string","required":true},{"in":"path","name":"namespace","description":"空间名（或项目名）","type":"string","required":true},{"in":"path","name":"component","description":"组件名（自定义的组件或区域名称， 比如群设置(groupsetting)）","type":"string","required":true},{"in":"path","name":"scope","description":"作用域, 比如设置某群的推送 那作用域就是群ID","type":"string","required":true},{"in":"body","name":"body","description":"键值对存在的map数据例如： { \"push\": \"1\",\"cache\":\"0\"}","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"返回","schema":{"type":"object"}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]},"get":{"tags":["setting"],"summary":"查询设置集合","description":"查询设置集合","operationId":"SettingGet","parameters":[{"in":"path","name":"open_id","description":"用户open_id","type":"string","required":true},{"in":"path","name":"namespace","description":"空间名（或项目名）","type":"string","required":true},{"in":"path","name":"component","description":"组件名（自定义的组件或区域名称， 比如群设置(groupsetting)）","type":"string","required":true},{"in":"path","name":"scope","description":"作用域, 比如设置某群的推送 那作用域就是群ID","type":"string","required":true}],"responses":{"200":{"description":"返回","schema":{"type":"object"}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]}},"/users/{open_id}/settings/{namespace}/components/{component}/scope/{scope}/items/{key}":{"get":{"tags":["setting"],"summary":"获取配置组对应key的值","description":"获取配置组对应key的值","operationId":"SettingItemGet","parameters":[{"in":"path","name":"open_id","description":"用户open_id","type":"string","required":true},{"in":"path","name":"namespace","description":"空间名（或项目名）","type":"string","required":true},{"in":"path","name":"component","description":"组件名（自定义的组件或区域名称， 比如群设置(groupsetting)）","type":"string","required":true},{"in":"path","name":"scope","description":"作用域, 比如设置某群的推送 那作用域就是群ID","type":"string","required":true},{"in":"path","name":"key","description":"具体配置项的key","type":"string","required":true}],"responses":{"200":{"description":"返回","schema":{"type":"object","properties":{"value":{"type":"string","description":"值"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]},"put":{"tags":["setting"],"summary":"更新配置组下面具体配置","description":"更新配置组下面具体配置","operationId":"SettingItemUpdate","parameters":[{"in":"path","name":"open_id","description":"用户open_id","type":"string","required":true},{"in":"path","name":"namespace","description":"空间名（或项目名）","type":"string","required":true},{"in":"path","name":"component","description":"组件名（自定义的组件或区域名称， 比如群设置(groupsetting)）","type":"string","required":true},{"in":"path","name":"scope","description":"作用域, 比如设置某群的推送 那作用域就是群ID","type":"string","required":true},{"in":"path","name":"key","description":"具体配置项的key","type":"string","required":true},{"in":"body","name":"body","description":"key对应的值","required":true,"schema":{"type":"object","properties":{"value":{"type":"string","description":"值"}}}}],"responses":{"200":{"description":"返回","schema":{"type":"object"}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]}}},"definitions":{"ValueInput":{"type":"object","properties":{"value":{"type":"string","description":"值"}}},"BaseModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"id"},"app_id":{"type":"string","description":"app id"},"create_time":{"type":"string","description":"创建时间"},"update_time":{"type":"string","description":"修改时间"}}},"Error":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}