swagger: '2.0'
info:
  description: 名字服务
  version: 1.0.0
  title: 名字服务
host: nameapi.qiyunxin.com
tags:
  - name: name
    description: 名字
securityDefinitions:
  app_id:
    type: apiKey
    in: header
    name: app_id
    description: 应用ID
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: 用户token
schemes:
  - http
basePath: /v1
produces:
  - application/json
paths:
  '/users/{open_id}/name':
    get:
      tags:
        - name
      summary: 获取用户名称（优先备注）
      description: 获取用户名称（优先备注）
      operationId: NameGet
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          type: string
          required: true
        - in: query
          name: remarked_id
          description: 备注这open_id
          type: string
          required: true
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              remarked_id:
                type: string
                description: 备注人open_id
              type:
                type: string
                description: 类型 名字类型 comm. 普通名字 remark. 备注名字  ingroup. 群内名字
              group_no:
                type: string
                description: 群编号 类型为ingroup时必填
              name:
                type: string
                description: 名称
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/remark_sync':
    post:
      tags:
        - name
      summary: 备注同步
      description: 备注同步
      operationId: RemarkSync
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          type: string
          required: true
        - in: query
          name: sync_key
          description: 同步key
          type: string
          required: true
      responses:
        '200':
          description: 返回
          schema:
            type: array
            items:
              type: object
              properties:
                remarked_id:
                  type: string
                  description: 备注人open_id
                type:
                  type: string
                  description: 类型 名字类型 comm. 普通名字 remark. 备注名字  ingroup. 群内名字
                group_no:
                  type: string
                  description: 群编号 类型为ingroup时必填
                name:
                  type: string
                  description: 名称
                sync_key:
                  type: integer
                  format: int64
                  description: 同步key
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/remark':
    post:
      tags:
        - name
      summary: 添加备注
      description: 添加备注
      operationId: RemarkAdd
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          type: string
          required: true
        - in: body
          name: body
          description: 备注内容
          required: true
          schema:
            type: object
            properties:
              remarked_id:
                type: string
                description: 备注人open_id
              type:
                type: string
                description: 类型 名字类型 comm. 普通名字 remark. 备注名字  ingroup. 群内名字
              group_no:
                type: string
                description: 群编号 类型为ingroup时必填
              name:
                type: string
                description: 名称
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              remarked_id:
                type: string
                description: 备注人open_id
              type:
                type: string
                description: 类型 名字类型 comm. 普通名字 remark. 备注名字  ingroup. 群内名字
              group_no:
                type: string
                description: 群编号 类型为ingroup时必填
              name:
                type: string
                description: 名称
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  /namesync:
    get:
      tags:
        - name
      summary: 同步名字（增量同步）
      description: 同步用户服务的姓名到本服务
      operationId: NameSync
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  /name:
    post:
      tags:
        - name
      summary: 更新或添加name（内部接口）
      description: 更新或添加name（内部接口）
      operationId: NameUpdateOrAdd
      parameters:
        - in: body
          name: body
          description: 备注内容
          required: true
          schema:
            type: object
            properties:
              open_id:
                type: string
                description: open_id
              name:
                type: string
                description: 名称
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
definitions:
  name:
    type: object
    properties:
      open_id:
        type: string
        description: open_id
      name:
        type: string
        description: 名称
  remark:
    type: object
    properties:
      remarked_id:
        type: string
        description: 备注人open_id
      type:
        type: string
        description: 类型 名字类型 comm. 普通名字 remark. 备注名字  ingroup. 群内名字
      group_no:
        type: string
        description: 群编号 类型为ingroup时必填
      name:
        type: string
        description: 名称
  NameGetResult:
    type: object
    properties:
      remarked_id:
        type: string
        description: 备注人open_id
      type:
        type: string
        description: 类型 名字类型 comm. 普通名字 remark. 备注名字  ingroup. 群内名字
      group_no:
        type: string
        description: 群编号 类型为ingroup时必填
      name:
        type: string
        description: 名称
  NameResult:
    type: object
    properties:
      remarked_id:
        type: string
        description: 备注人open_id
      type:
        type: string
        description: 类型 名字类型 comm. 普通名字 remark. 备注名字  ingroup. 群内名字
      group_no:
        type: string
        description: 群编号 类型为ingroup时必填
      name:
        type: string
        description: 名称
      sync_key:
        type: integer
        format: int64
        description: 同步key
  BaseModel:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: id
      app_id:
        type: string
        description: app id
      create_time:
        type: string
        description: 创建时间
      update_time:
        type: string
        description: 修改时间
  Error:
    type: object
    properties:
      err_code:
        type: string
      err_msg:
        type: string
