swagger: '2.0'
info:
  title: 消息服务
  description: 消息服务
  version: '1.0'
host: messageapi.qiyunxin.com
schemes:
  - http
tags:
  - name: messages
    description: 消息
  - name: groups
    description: 群
basePath: /v1
securityDefinitions:
  app_id:
    type: apiKey
    in: header
    name: app_id
    description: 应用ID
  sign:
    type: apiKey
    in: header
    name: sign
    description: 签名
  noncestr:
    type: apiKey
    in: header
    name: noncestr
    description: 随机码
  timestamp:
    type: apiKey
    in: header
    name: timestamp
    description: 时间戳
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: 用户token
produces:
  - application/json
paths:
  /groups:
    post:
      operationId: GroupAdd
      security:
        - app_id: []
        - sign: []
        - noncestr: []
        - timestamp: []
      summary: 群添加
      description: |
        群添加
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              group_id:
                type: string
                description: 群ID
              open_ids:
                type: array
                items:
                  type: string
                description: 成员open_id
      tags:
        - groups
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
  '/groups/{group_id}/memebers':
    post:
      operationId: GroupMemberAdd
      security:
        - app_id: []
        - sign: []
        - noncestr: []
        - timestamp: []
      summary: 添加群成员
      description: |
        添加群成员
      parameters:
        - name: group_id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              open_ids:
                type: array
                items:
                  type: string
                description: 成员open_id
      tags:
        - groups
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
    delete:
      operationId: GroupMemberDelete
      security:
        - app_id: []
        - sign: []
        - noncestr: []
        - timestamp: []
      summary: 删除群成员
      description: |
        删除群成员
      parameters:
        - name: group_id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              open_ids:
                type: array
                items:
                  type: string
                description: 成员open_id
      tags:
        - groups
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
  /message/users:
    post:
      operationId: MsgSendToUser
      security:
        - app_id: []
        - sign: []
        - noncestr: []
        - timestamp: []
      summary: 发送消息（对个人）
      description: |
        发送消息（个人）
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              open_ids:
                type: array
                items:
                  type: string
                  description: openId集合
              content:
                type: string
                description: 消息正文
      tags:
        - messages
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
  /message/groups:
    post:
      operationId: MsgSendToGroup
      security:
        - app_id: []
        - sign: []
        - noncestr: []
        - timestamp: []
      summary: 发送消息（对群组）
      description: |
        发送消息（群组）
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              group_ids:
                type: array
                items:
                  type: string
                  description: 群ID集合
              content:
                type: string
                description: 消息正文
      tags:
        - messages
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
  '/users/{open_id}/messages/{msg_no}/revoke':
    post:
      operationId: MsgRevoke
      security:
        - app_id: []
        - Authorization: []
      summary: 撤回消息
      description: |
        撤回消息
      parameters:
        - name: open_id
          in: path
          required: true
          type: string
          description: 用户open_id
        - name: msg_no
          in: path
          required: true
          type: string
          description: 消息编号
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              session_id:
                type: string
                description: 会话ID
              session_type:
                type: string
                description: 会话类型
              from_cust_name:
                type: string
                description: 撤销者名称
      tags:
        - messages
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: integer
              err_msg:
                type: string
definitions:
  MsgRevokeInput:
    type: object
    properties:
      session_id:
        type: string
        description: 会话ID
      session_type:
        type: string
        description: 会话类型
      from_cust_name:
        type: string
        description: 撤销者名称
  GroupMemberInput:
    type: object
    properties:
      open_ids:
        type: array
        items:
          type: string
        description: 成员open_id
  GroupInput:
    type: object
    properties:
      group_id:
        type: string
        description: 群ID
      open_ids:
        type: array
        items:
          type: string
        description: 成员open_id
  MsgSendToGroupInput:
    type: object
    properties:
      group_ids:
        type: array
        items:
          type: string
          description: 群ID集合
      content:
        type: string
        description: 消息正文
  MsgSendToUserInput:
    type: object
    properties:
      open_ids:
        type: array
        items:
          type: string
          description: openId集合
      content:
        type: string
        description: 消息正文
  Error:
    type: object
    properties:
      err_code:
        type: integer
      err_msg:
        type: string
