{"swagger":"2.0","info":{"title":"短信API","description":"短信API","version":"2.0.0"},"host":"smsapi.qiyunxin.com","schemes":["http"],"tags":[{"name":"sms","description":"短信"}],"basePath":"/v1","produces":["application/json"],"paths":{"/verifycode/send":{"get":{"summary":"发送短信验证码","description":"发送短信验证码\n","parameters":[{"name":"phones","in":"query","description":"手机号 多个以逗号隔开","required":true,"type":"string"},{"name":"type","in":"query","description":"短信类型 例如: register,  pay","required":true,"type":"string"},{"name":"channel","in":"query","description":"使用通道 custom(自定义通道需要配置custom.json)","required":true,"type":"string"}],"tags":["sms"],"responses":{"200":{"description":"成功返回","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}},"/verifycode/check":{"get":{"summary":"检查验证码 (内部接口，客户端不能调用)","description":"检查验证码\n","parameters":[{"name":"phones","in":"query","description":"手机号","required":true,"type":"string"},{"name":"verify_code","in":"query","description":"验证码","required":true,"type":"string"},{"name":"type","in":"query","description":"短信类型 例如: register,  pay","required":true,"type":"string"}],"tags":["sms"],"responses":{"200":{"description":"成功返回","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}}},"definitions":{"Error":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}