swagger: '2.0'
info:
  title: 支付业务服务
  description: 支付业务服务
  version: 2.0.0
host: paybusapi.qiyunxin.com
schemes:
  - http
tags:
  - name: account
    description: 账户
  - name: imprest
    description: 预付款
  - name: pay
    description: 付款
  - name: withdraw
    description: 提现
  - name: bankcards
    description: 银行卡
  - name: transfer
    description: 转账
  - name: banks
    description: 银行
basePath: /v1
securityDefinitions:
  app_id:
    type: apiKey
    in: header
    name: app_id
    description: 应用ID
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: 用户token
  sign:
    type: apiKey
    in: header
    name: sign
    description: 签名
  noncestr:
    type: apiKey
    in: header
    name: noncestr
    description: 签名
  timestamp:
    type: apiKey
    in: header
    name: timestamp
    description: 签名
produces:
  - application/json
paths:
  '/imprest/users/{open_id}/make':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 制作预付款
      description: |
        制作预付款
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: imprest
          in: body
          description: 预付款数据
          required: true
          schema:
            type: object
            description: 预付款参数
            properties:
              ticket_id:
                type: string
                description: 唯一ID
              out_trade_no:
                type: string
                description: 第三方订单号
              open_id:
                type: string
                description: 用户ID
              opr_open_ids:
                type: string
                description: '可以操作的人的ID集合例如: 1223,343545,4545'
              amount:
                type: integer
                description: 预付款金额
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              ext:
                type: string
                description: 扩展数据
      tags:
        - imprest
      responses:
        '200':
          description: 预付款对象
          schema:
            type: object
            description: 预付款对象
            properties:
              id:
                type: integer
                description: ID
              app_id:
                type: string
                description: 应用ID
              ticket_id:
                type: string
                description: 唯一ID
              imprest_code:
                type: string
                description: 预付款代码
              out_trade_no:
                type: string
                description: 第三方订单号
              opr_open_ids:
                type: string
                description: '可以操作的人的ID集合例如: 1223,343545,4545'
              amount:
                type: integer
                description: 预付款金额
              balance:
                type: integer
                description: 余额
              status:
                type: integer
                description: 状态 1.进行中 0.等待生效 2.完成  -1.异常
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              ext:
                type: string
                description: 扩展数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprest/users/{open_id}/pay':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 支付预付款
      description: |
        支付预付款
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: pay_token
          in: query
          description: 支付token
          required: false
          type: string
        - name: body
          in: body
          description: 交易对象
          required: true
          schema:
            type: object
            description: 交易对象
            properties:
              open_id:
                type: string
                description: 用户ID
              store_no:
                type: string
                description: 店铺编号
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              out_trade_no:
                type: string
                description: 第三方交易号
              out_trade_type:
                type: string
                description: 第三方交易类型
              memo:
                type: string
                description: 备用数据
              imprest_code:
                type: string
                description: 预付款编号
              notify_url:
                type: string
                description: 通知URL
              pay_type:
                type: integer
                description: 支付类型 1.支付宝 2.微信 4.账户支付
              client_ip:
                type: string
                description: 客户端IP
              client_type:
                type: integer
                description: '客户端类型 0,1手机端 2.web'
              wx_open_id:
                type: string
                description: 微信OpenId（微信JSAPI支付需要）
              version:
                type: integer
                description: '0, 1.0'
              ext:
                type: string
                description: 扩展数据
      tags:
        - imprest
      responses:
        '200':
          description: 付款对象
          schema:
            type: object
            description: 预付款结果
            properties:
              pay_type:
                type: integer
                description: 支付类型 0.支付宝 1.微信
              trade_no:
                type: string
                description: 交易号
              body:
                type: string
                description: 第三方支付的相关数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprest/users/{open_id}/fetch':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 领取预付款
      description: |
        领取预付款
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 领取预付款
          required: true
          schema:
            type: object
            description: 领取预付款DTO
            properties:
              ticket_id:
                type: string
                description: 唯一ID
              open_id:
                type: string
                description: 领取人
              imprest_code:
                type: string
                description: 预付款代号
              amount:
                type: integer
                description: 领取金额 为0的话 默认领完预付款金额
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              ext:
                type: string
                description: 扩展数据
      tags:
        - imprest
      responses:
        '200':
          description: 预付款提取结果对象
          schema:
            type: object
            description: 预付款结果
            properties:
              imprest_record_id:
                type: integer
                format: int64
                description: 预付款记录ID
              ticket_id:
                type: string
                description: 唯一ID
              open_id:
                type: string
                description: 领取人
              amount:
                type: integer
                description: 领取金额
              app_id:
                type: string
                description: appid
              imprest_code:
                type: string
                description: 预付款代号
              ext:
                type: string
                description: 扩展数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprest/users/{open_id}/refund':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 退款预付款
      operationId: RefundImprest2
      description: |
        退款预付款
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 退款预付款
          required: true
          schema:
            type: object
            description: 交易退款输入参数
            properties:
              title:
                type: string
                description: 标题
              trade_no:
                type: string
                description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
              imprest_code:
                type: string
                description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
              out_trade_no:
                type: string
                description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
              out_refund_no:
                type: string
                description: 第三方退款单号（第三方的退款单号，唯一）
              opr_open_id:
                type: string
                description: 操作用户open_id
              store_no:
                type: string
                description: 店铺编号
              refund_type:
                type: integer
                format: int
                description: 退款方式(1.支付宝 2.微信 4.账户支付)
              refund_amount:
                type: integer
                description: 退款金额
              refund_desc:
                type: string
                description: 退款原因
              client_ip:
                type: string
                description: 客户端IP
              client_type:
                type: integer
                description: '客户端类型 0,1手机端 2.web端'
              flag:
                type: string
                description: flag
              ext:
                type: string
                description: 扩展数据
      tags:
        - imprest
      responses:
        '200':
          description: 退款对象
          schema:
            allOf:
              - type: object
                description: 交易退款
                properties:
                  app_id:
                    type: string
                    description: app id
                  title:
                    type: string
                    description: 标题
                  opr_open_id:
                    type: string
                    description: 操作人open_id
                  open_id:
                    type: string
                    description: 用户openID
                  trade_no:
                    type: string
                    description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
                  imprest_code:
                    type: string
                    description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
                  out_trade_no:
                    type: string
                    description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
                  out_refund_no:
                    type: string
                    description: 第三方退款单号（第三方的退款单号，唯一）
                  refund_amount:
                    type: integer
                    description: 退款金额
                  refund_desc:
                    type: string
                    description: 退款原因
                  refund_no:
                    type: string
                    description: 客户端IP
                  refund_type:
                    type: integer
                    description: 退款方式(1.支付宝 2.微信 4.账户支付)
                  status:
                    type: integer
                    description: 状态 0.未生效 1.已生效
              - type: object
                properties:
                  body:
                    type: string
                    description: 第三方数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprest/users/{open_id}/records':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 预付款记录列表查询
      operationId: ImprestRecordPage
      description: |
        预付款记录列表查询
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: flag
          in: query
          description: 标记
          required: false
          type: string
        - name: page_index
          in: query
          description: 页码
          required: false
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: false
          type: integer
      tags:
        - imprest
      responses:
        '200':
          description: 返回结果
          schema:
            type: array
            items:
              type: object
              description: 预付款记录
              properties:
                app_id:
                  type: string
                  description: app_id
                ticket_id:
                  type: string
                  description: 唯一ID
                open_id:
                  type: string
                  description: 预付款拥有者ID
                imprest_code:
                  type: string
                  description: 预付款代号
                opr_open_id:
                  type: string
                  description: 领取人的ID
                changed_amount:
                  type: integer
                  description: 变动金额
                balance:
                  type: integer
                  description: 余额
                title:
                  type: string
                  description: 标题
                remark:
                  type: string
                  description: 备注
                flag:
                  type: string
                  description: 标记
                ext:
                  type: string
                  description: 扩展数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取账户信息
      description: |
        获取账户信息
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
      tags:
        - account
      responses:
        '200':
          description: 账户信息
          schema:
            type: object
            description: 账户信息
            properties:
              id:
                type: integer
                format: int64
                description: id
              open_id:
                type: string
                description: 用户ID
              amount:
                type: number
                description: 账户余额
              status:
                type: integer
                description: 账户状态 1.可用 0.不可用
              flag:
                type: string
                description: 标记
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/paytoken':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取默认账户pay_token
      description: |
        获取默认账户pay_token
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 账户信息输入
          required: true
          schema:
            type: object
            description: 账户密码输入
            properties:
              password:
                type: string
                description: 账户密码
      tags:
        - account
      responses:
        '200':
          description: 支付token
          schema:
            type: object
            description: 支付token
            properties:
              pay_token:
                type: string
                description: pay token
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/password':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 设置付款密码
      operationId: AccountPasswordSet
      description: |
        设置付款密码
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: code
          in: query
          description: 验证码
          required: true
          type: string
        - name: body
          in: body
          description: 密码
          required: true
          schema:
            type: object
            description: 账户密码输入
            properties:
              password:
                type: string
                description: 账户密码
      tags:
        - account
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/password2':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 设置付款密码
      operationId: AccountPasswordSet2
      description: |
        设置付款密码
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 输入
          required: true
          schema:
            type: object
            description: 账户密码输入
            properties:
              type:
                type: string
                description: '账户密码修改类型（pwdfind_bankcard: 通过银行卡方式修改密码）'
              password:
                type: string
                description: 新密码
              pwd_token:
                type: string
                description: 密码修改token
      tags:
        - account
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/pwdupdate':
    put:
      security:
        - app_id: []
        - Authorization: []
      summary: 修改支付密码
      operationId: AccountPasswordUpdate
      description: |
        修改支付密码
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 输入
          required: true
          schema:
            type: object
            description: 支付密码修改
            properties:
              old_pwd:
                type: string
                description: 旧密码
              new_pwd:
                type: string
                description: 新密码
      tags:
        - account
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/is_set_password':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 是否设置密码
      operationId: AccountPasswordIsSet
      description: |
        是否设置密码
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
      tags:
        - account
      responses:
        '200':
          description: 返回
          schema:
            type: object
            description: 银行卡对应的银行信息
            properties:
              pwd_is_set:
                type: integer
                description: 0.没设置密码 1.已设置密码
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/bankcardbind_and_pwdset':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 银行卡绑定与支付密码设置
      operationId: AccountPasswordFind
      description: |
        银行卡绑定与支付密码设置
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: code
          in: query
          description: '验证码(验证码类型:bankcardbind_and_pwdset)'
          required: true
          type: string
        - name: body
          in: body
          description: 输入
          required: true
          schema:
            type: object
            description: 密码找回输入
            properties:
              bank_name:
                type: string
                description: 银行名称
              holder_name:
                type: string
                description: 持卡人名称
              card_no:
                type: string
                description: 卡号
              bank_code:
                type: string
                description: 银行编号
              card_type:
                type: string
                description: 卡类型 DC 储蓄卡 CC 信用卡
              mobile:
                type: string
                description: 预留手机号
              idcard:
                type: string
                description: 身份证号
              realname_sign:
                type: string
                description: 实名认证签名数据
              bankcard_4_sign:
                type: string
                description: 银行卡四元素sign
      tags:
        - account
      responses:
        '200':
          description: 返回
          schema:
            type: object
            description: 密码找回结果
            properties:
              type:
                type: string
                description: '类型（pwdfind_bankcard:通过绑定银行卡找回密码）'
              pwd_token:
                type: string
                description: 用于修改密码的token
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/record':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取账户记录列表
      description: |
        获取账户记录列表
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: title
          in: query
          description: 标题
          required: true
          type: string
        - name: page_index
          in: query
          description: 页码
          required: false
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: false
          type: integer
      tags:
        - account
      responses:
        '200':
          description: 账户信息
          schema:
            type: array
            items:
              type: object
              description: 账户记录
              properties:
                app_id:
                  type: string
                  description: app id
                open_id:
                  type: string
                  description: 用户ID
                ticket_id:
                  type: string
                  description: 预付款唯一ID(幂等ID)
                imprest_record_id:
                  type: integer
                  description: 预付款记录ID
                imprest_code:
                  type: string
                  description: 预付款code
                account_id:
                  type: integer
                  format: int64
                  description: 账户ID
                changed_amount:
                  type: integer
                  format: int64
                  description: 变动金额
                balance:
                  type: integer
                  format: int64
                  description: 账户余额
                title:
                  type: string
                  description: 标题
                remark:
                  type: string
                  description: 备注
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/imprestrecord/{id}':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 通过预付款记录ID获取账户记录
      description: |
        通过预付款记录ID获取账户记录
      parameters:
        - name: id
          in: path
          description: 预付款记录ID
          required: true
          type: integer
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
      tags:
        - account
      responses:
        '200':
          description: 账户记录
          schema:
            type: object
            description: 账户记录
            properties:
              app_id:
                type: string
                description: app id
              open_id:
                type: string
                description: 用户ID
              ticket_id:
                type: string
                description: 预付款唯一ID(幂等ID)
              imprest_record_id:
                type: integer
                description: 预付款记录ID
              imprest_code:
                type: string
                description: 预付款code
              account_id:
                type: integer
                format: int64
                description: 账户ID
              changed_amount:
                type: integer
                format: int64
                description: 变动金额
              balance:
                type: integer
                format: int64
                description: 账户余额
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprestrecords/{id}/users/{open_id}':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 预付款记录查询
      description: |
        预付款记录查询
      parameters:
        - name: id
          in: path
          description: 预付款记录ID
          required: true
          type: integer
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
      tags:
        - imprest
      responses:
        '200':
          description: 账户信息
          schema:
            type: object
            description: 预付款记录
            properties:
              app_id:
                type: string
                description: app_id
              ticket_id:
                type: string
                description: 唯一ID
              open_id:
                type: string
                description: 预付款拥有者ID
              imprest_code:
                type: string
                description: 预付款代号
              opr_open_id:
                type: string
                description: 领取人的ID
              changed_amount:
                type: integer
                description: 变动金额
              balance:
                type: integer
                description: 余额
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              flag:
                type: string
                description: 标记
              ext:
                type: string
                description: 扩展数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccountwithdraw/{open_id}/apply':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 提现申请
      description: |
        提现申请
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 提现申请
          required: true
          schema:
            type: object
            description: 提现输入
            properties:
              pay_token:
                type: string
                description: 支付token
              amount:
                type: integer
                format: int64
                description: 提现金额
              third_account_type:
                type: string
                format: string
                description: '第三方账户类型 ALIPAY,WX,BANK'
              third_account:
                type: string
                format: string
                description: 第三方账户
              bankcard_id:
                type: integer
                format: int64
                description: 银行信息ID （如果third_account_type为BANK 此字段为必填）
      tags:
        - withdraw
      responses:
        '200':
          description: 账户信息
          schema:
            type: object
            description: 提现记录
            properties:
              app_id:
                type: string
                description: 支付token
              open_id:
                type: string
                description: 用户ID
              imprest_record_id:
                type: string
                description: 预付款记录ID
              imprest_code:
                type: string
                description: 预付款编号
              amount:
                type: integer
                format: int64
                description: 提款金额
              bankcard_id:
                type: integer
                format: int64
                description: 银行信息对应的ID
              bank_name:
                type: string
                description: 银行名称
              holder_name:
                type: string
                description: 持卡人名称
              card_no:
                type: string
                description: 卡号
              status:
                type: integer
                description: 状态 0.待审核 2.审核不通过 1.审核通过
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccountwithdraw/{open_id}/audit':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 提现审核（OpenId是审核人员的）
      description: |
        提现审核（OpenId是审核人员的）
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 提现审核
          required: true
          schema:
            type: object
            description: 提现审核输入参数
            properties:
              account_withdraw_id:
                type: integer
                format: int64
                description: 账户提现记录ID
              remark:
                type: string
                description: 备注
              status:
                type: integer
                description: 1.审核通过 2.审核不通过
      tags:
        - withdraw
      responses:
        '200':
          description: 预付款记录ID
          schema:
            type: object
            description: 预付款记录ID
            properties:
              imprest_record_id:
                type: integer
                format: int6
                description: 预付款记录ID
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccountwithdraw/{open_id}/records':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 提现记录列表
      description: |
        提现记录列表
      operationId: WithdrawCashRecords
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: mobile
          in: query
          description: 手机号
          required: false
          type: string
        - name: holder_name
          in: query
          description: 持卡人名称
          required: false
          type: string
        - name: start_time
          in: query
          description: '开始时间(格式: 2017-09-12)'
          required: false
          type: string
        - name: end_time
          in: query
          description: '结束时间 开始时间(格式: 2017-09-12)'
          required: false
          type: string
        - name: page_index
          in: query
          description: 页码
          required: false
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: false
          type: integer
      tags:
        - withdraw
      responses:
        '200':
          description: 提现记录
          schema:
            type: array
            items:
              type: object
              description: 提现记录
              properties:
                app_id:
                  type: string
                  description: 支付token
                open_id:
                  type: string
                  description: 用户ID
                imprest_record_id:
                  type: string
                  description: 预付款记录ID
                imprest_code:
                  type: string
                  description: 预付款编号
                amount:
                  type: integer
                  format: int64
                  description: 提款金额
                bankcard_id:
                  type: integer
                  format: int64
                  description: 银行信息对应的ID
                bank_name:
                  type: string
                  description: 银行名称
                holder_name:
                  type: string
                  description: 持卡人名称
                card_no:
                  type: string
                  description: 卡号
                status:
                  type: integer
                  description: 状态 0.待审核 2.审核不通过 1.审核通过
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/bankcards':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 添加银行卡信息
      description: |
        添加银行卡信息
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: code
          in: query
          description: '验证码（预留手机号收到的验证码,后端服务配置了必须验证码手机正确性此字段就是必填）'
          required: false
          type: string
        - name: body
          in: body
          description: 银行卡信息
          required: true
          schema:
            type: object
            description: 银行卡信息输入
            properties:
              bank_name:
                type: string
                description: 银行名称
              holder_name:
                type: string
                description: 持卡人名称
              card_no:
                type: string
                description: 卡号
              bank_code:
                type: string
                description: 银行编号
              card_type:
                type: string
                description: 卡类型 DC 储蓄卡 CC 信用卡
              mobile:
                type: string
                description: 预留手机号
              realname_sign:
                type: string
                description: 实名认证Sign
              bankcard_4_sign:
                type: string
                description: 银行卡四元素sign
      tags:
        - bankcards
      responses:
        '200':
          description: 银行卡信息
          schema:
            type: object
            description: 银行卡信息输入
            properties:
              app_id:
                type: string
                description: 银行名称
              open_id:
                type: string
                description: 用户ID
              bank_name:
                type: string
                description: 银行名称
              bank_code:
                type: string
                description: 银行编号
              holder_name:
                type: string
                description: 持卡人名称
              card_no:
                type: string
                description: 卡号
              card_type:
                type: string
                description: 卡类型 DC 储蓄卡 CC 信用卡
              mobile:
                type: string
                description: 预留手机号
              status:
                type: integer
                format: int64
                description: 0.不可用 1.可用
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 查询用户银行卡列表
      description: |
        查询用户银行卡列表
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
      tags:
        - bankcards
      responses:
        '200':
          description: 银行卡信息
          schema:
            type: array
            items:
              type: object
              description: 银行卡信息输入
              properties:
                app_id:
                  type: string
                  description: 银行名称
                open_id:
                  type: string
                  description: 用户ID
                bank_name:
                  type: string
                  description: 银行名称
                bank_code:
                  type: string
                  description: 银行编号
                holder_name:
                  type: string
                  description: 持卡人名称
                card_no:
                  type: string
                  description: 卡号
                card_type:
                  type: string
                  description: 卡类型 DC 储蓄卡 CC 信用卡
                mobile:
                  type: string
                  description: 预留手机号
                status:
                  type: integer
                  format: int64
                  description: 0.不可用 1.可用
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
    delete:
      security:
        - app_id: []
        - Authorization: []
      summary: 删除用户所有银行卡
      description: |
        删除用户所有银行卡
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
      tags:
        - bankcards
      responses:
        '200':
          description: 成功返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/bankcard/check':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 检查银行卡四元素（银行卡，身份证，预留手机号，真实姓名）
      description: |
        '检查银行卡四元素（银行卡，身份证，预留手机号，真实姓名）'
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: is_sign
          in: query
          description: 是否返回签名数据（0.否 1.是）
          required: true
          type: integer
        - name: body
          in: body
          description: 校验数据
          required: true
          schema:
            type: object
            description: 银行卡校验输入信息
            properties:
              bankcard:
                type: string
                description: 银行卡号
              idcard:
                type: string
                description: 身份证号
              mobile:
                type: string
                description: 预留手机号
              realname:
                type: string
                description: 真实姓名
      tags:
        - bankcards
      responses:
        '200':
          description: 成功返回
          schema:
            type: object
            description: 银行卡校验输入信息
            properties:
              bankcard:
                type: string
                description: 银行卡号
              idcard:
                type: string
                description: 身份证号
              mobile:
                type: string
                description: 预留手机号
              realname:
                type: string
                description: 真实姓名
              sign:
                type: string
                description: 签名数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/bankcards/{id}':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取指定银行卡详情
      description: |
        获取指定银行卡详情
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: id
          in: path
          description: 银行卡信息ID
          required: true
          type: integer
          format: int64
      tags:
        - bankcards
      responses:
        '200':
          description: 银行卡信息
          schema:
            type: object
            description: 银行卡信息输入
            properties:
              app_id:
                type: string
                description: 银行名称
              open_id:
                type: string
                description: 用户ID
              bank_name:
                type: string
                description: 银行名称
              bank_code:
                type: string
                description: 银行编号
              holder_name:
                type: string
                description: 持卡人名称
              card_no:
                type: string
                description: 卡号
              card_type:
                type: string
                description: 卡类型 DC 储蓄卡 CC 信用卡
              mobile:
                type: string
                description: 预留手机号
              status:
                type: integer
                format: int64
                description: 0.不可用 1.可用
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
    delete:
      security:
        - app_id: []
        - Authorization: []
      summary: 删除指定的银行卡信息
      description: |
        删除指定的银行卡信息
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: id
          in: path
          description: 银行卡信息ID
          required: true
          type: integer
          format: int64
      tags:
        - bankcards
      responses:
        '200':
          description: 成功返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
    put:
      security:
        - app_id: []
        - Authorization: []
      summary: 更新指定的银行卡信息
      description: |
        更新指定的银行卡信息
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: id
          in: path
          description: 银行卡信息ID
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          description: 银行卡信息
          required: true
          schema:
            type: object
            description: 银行卡信息输入
            properties:
              bank_name:
                type: string
                description: 银行名称
              holder_name:
                type: string
                description: 持卡人名称
              card_no:
                type: string
                description: 卡号
              bank_code:
                type: string
                description: 银行编号
              card_type:
                type: string
                description: 卡类型 DC 储蓄卡 CC 信用卡
              mobile:
                type: string
                description: 预留手机号
              realname_sign:
                type: string
                description: 实名认证Sign
              bankcard_4_sign:
                type: string
                description: 银行卡四元素sign
      tags:
        - bankcards
      responses:
        '200':
          description: 成功返回
          schema:
            type: object
            description: 银行卡信息输入
            properties:
              app_id:
                type: string
                description: 银行名称
              open_id:
                type: string
                description: 用户ID
              bank_name:
                type: string
                description: 银行名称
              bank_code:
                type: string
                description: 银行编号
              holder_name:
                type: string
                description: 持卡人名称
              card_no:
                type: string
                description: 卡号
              card_type:
                type: string
                description: 卡类型 DC 储蓄卡 CC 信用卡
              mobile:
                type: string
                description: 预留手机号
              status:
                type: integer
                format: int64
                description: 0.不可用 1.可用
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/transfer':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 转账
      description: |
        转账
      operationId: AccountTransfer
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: pay_token
          in: query
          type: string
          description: 支付token
        - name: body
          in: body
          description: 转账参数
          required: true
          schema:
            type: object
            description: 转账输入
            properties:
              nickname:
                type: string
                description: 转账人昵称
              amount:
                type: string
                description: 转账金额
              to_open_id:
                type: string
                description: 收款人open_id
              to_nickname:
                type: string
                description: 收款人昵称
              remark:
                type: string
                description: 备注
      tags:
        - transfer
      responses:
        '200':
          description: 转账记录
          schema:
            type: object
            description: 转账输入
            properties:
              app_id:
                type: string
                description: app id
              nickname:
                type: string
                description: 转账人昵称
              record_no:
                type: string
                description: 记录编号
              amount:
                type: string
                description: 转账金额
              to_open_id:
                type: string
                description: 收款人open_id
              to_nickname:
                type: string
                description: 收款人昵称
              imprest_code:
                type: string
                description: 预付款编号
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/transfer/fetch':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 领取转账
      description: |
        领取转账
      operationId: AccountTransferFetch
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: imprest_code
          in: query
          type: string
          description: 预付款编号
      tags:
        - transfer
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/transfer/{record_no}':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 转账详情
      description: |
        转账详情
      operationId: AccountTransferDetail
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: record_no
          in: path
          type: string
          required: true
          description: 记录编号
      tags:
        - transfer
      responses:
        '200':
          description: 转账记录
          schema:
            type: object
            description: 转账输入
            properties:
              app_id:
                type: string
                description: app id
              nickname:
                type: string
                description: 转账人昵称
              record_no:
                type: string
                description: 记录编号
              amount:
                type: string
                description: 转账金额
              to_open_id:
                type: string
                description: 收款人open_id
              to_nickname:
                type: string
                description: 收款人昵称
              imprest_code:
                type: string
                description: 预付款编号
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  /banklist:
    get:
      summary: 银行列表
      description: |
        银行列表
      operationId: BankList
      tags:
        - banks
      responses:
        '200':
          description: 银行列表
          schema:
            type: array
            items:
              type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  /cardbankinfo:
    get:
      summary: 获取卡的银行信息
      description: |
        获取卡的银行信息
      operationId: BankcardInfoGet
      parameters:
        - name: bankcard
          in: query
          description: 银行卡号
          required: true
          type: string
      tags:
        - banks
      responses:
        '200':
          description: 成功返回
          schema:
            type: object
            description: 银行卡对应的银行信息
            properties:
              bankcard:
                type: string
                description: 银行卡号
              bankcode:
                type: string
                description: 银行代号
              bankname:
                type: string
                description: 银行名称
              cardtype:
                type: string
                description: '卡类型（DC:储蓄卡 CC:信用卡）'
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  /subjectlist:
    get:
      summary: 费项列表
      description: |
        费项列表
      operationId: SubjectList
      tags:
        - banks
      responses:
        '200':
          description: 费项列表
          schema:
            type: array
            items:
              type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  /draw/records:
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 提现记录列表(权限控制)
      description: |
        提现记录列表（权限控制）
      operationId: WithdrawCashRecordsForManager
      parameters:
        - name: open_id
          in: query
          description: 用户ID
          required: true
          type: string
        - name: mobile
          in: query
          description: 手机号
          required: false
          type: string
        - name: holder_name
          in: query
          description: 持卡人名称
          required: false
          type: string
        - name: start_time
          in: query
          description: '开始时间(格式: 2017-09-12)'
          required: false
          type: string
        - name: end_time
          in: query
          description: '结束时间 开始时间(格式: 2017-09-12)'
          required: false
          type: string
        - name: page_index
          in: query
          description: 页码
          required: false
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: false
          type: integer
      tags:
        - withdraw
      responses:
        '200':
          description: 提现记录
          schema:
            type: array
            items:
              type: object
              description: 提现记录
              properties:
                app_id:
                  type: string
                  description: 支付token
                open_id:
                  type: string
                  description: 用户ID
                imprest_record_id:
                  type: string
                  description: 预付款记录ID
                imprest_code:
                  type: string
                  description: 预付款编号
                amount:
                  type: integer
                  format: int64
                  description: 提款金额
                bankcard_id:
                  type: integer
                  format: int64
                  description: 银行信息对应的ID
                bank_name:
                  type: string
                  description: 银行名称
                holder_name:
                  type: string
                  description: 持卡人名称
                card_no:
                  type: string
                  description: 卡号
                status:
                  type: integer
                  description: 状态 0.待审核 2.审核不通过 1.审核通过
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  /draw/audit:
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 提现审核（权限控制）
      description: |
        提现审核（权限控制）
      parameters:
        - name: body
          in: body
          description: 提现审核
          required: true
          schema:
            type: object
            description: 提现审核输入参数
            properties:
              account_withdraw_id:
                type: integer
                format: int64
                description: 账户提现记录ID
              remark:
                type: string
                description: 备注
              status:
                type: integer
                description: 1.审核通过 2.审核不通过
      tags:
        - withdraw
      responses:
        '200':
          description: 预付款记录ID
          schema:
            type: object
            description: 预付款记录ID
            properties:
              imprest_record_id:
                type: integer
                format: int6
                description: 预付款记录ID
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
definitions:
  TradesRefundResult:
    allOf:
      - type: object
        description: 交易退款
        properties:
          app_id:
            type: string
            description: app id
          title:
            type: string
            description: 标题
          opr_open_id:
            type: string
            description: 操作人open_id
          open_id:
            type: string
            description: 用户openID
          trade_no:
            type: string
            description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
          imprest_code:
            type: string
            description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
          out_trade_no:
            type: string
            description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
          out_refund_no:
            type: string
            description: 第三方退款单号（第三方的退款单号，唯一）
          refund_amount:
            type: integer
            description: 退款金额
          refund_desc:
            type: string
            description: 退款原因
          refund_no:
            type: string
            description: 客户端IP
          refund_type:
            type: integer
            description: 退款方式(1.支付宝 2.微信 4.账户支付)
          status:
            type: integer
            description: 状态 0.未生效 1.已生效
      - type: object
        properties:
          body:
            type: string
            description: 第三方数据
  TradesRefund:
    type: object
    description: 交易退款
    properties:
      app_id:
        type: string
        description: app id
      title:
        type: string
        description: 标题
      opr_open_id:
        type: string
        description: 操作人open_id
      open_id:
        type: string
        description: 用户openID
      trade_no:
        type: string
        description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
      imprest_code:
        type: string
        description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
      out_trade_no:
        type: string
        description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
      out_refund_no:
        type: string
        description: 第三方退款单号（第三方的退款单号，唯一）
      refund_amount:
        type: integer
        description: 退款金额
      refund_desc:
        type: string
        description: 退款原因
      refund_no:
        type: string
        description: 客户端IP
      refund_type:
        type: integer
        description: 退款方式(1.支付宝 2.微信 4.账户支付)
      status:
        type: integer
        description: 状态 0.未生效 1.已生效
  AccountPasswordUpdateInput:
    type: object
    description: 支付密码修改
    properties:
      old_pwd:
        type: string
        description: 旧密码
      new_pwd:
        type: string
        description: 新密码
  AccountPasswordIsSetInput:
    type: object
    description: 银行卡对应的银行信息
    properties:
      pwd_is_set:
        type: integer
        description: 0.没设置密码 1.已设置密码
  BankInfoWithCard:
    type: object
    description: 银行卡对应的银行信息
    properties:
      bankcard:
        type: string
        description: 银行卡号
      bankcode:
        type: string
        description: 银行代号
      bankname:
        type: string
        description: 银行名称
      cardtype:
        type: string
        description: '卡类型（DC:储蓄卡 CC:信用卡）'
  BankcardCheckSign:
    type: object
    description: 银行卡校验输入信息
    properties:
      bankcard:
        type: string
        description: 银行卡号
      idcard:
        type: string
        description: 身份证号
      mobile:
        type: string
        description: 预留手机号
      realname:
        type: string
        description: 真实姓名
      sign:
        type: string
        description: 签名数据
  BankcardCheckInput:
    type: object
    description: 银行卡校验输入信息
    properties:
      bankcard:
        type: string
        description: 银行卡号
      idcard:
        type: string
        description: 身份证号
      mobile:
        type: string
        description: 预留手机号
      realname:
        type: string
        description: 真实姓名
  AccountTransferRecordInput:
    type: object
    description: 转账输入
    properties:
      nickname:
        type: string
        description: 转账人昵称
      amount:
        type: string
        description: 转账金额
      to_open_id:
        type: string
        description: 收款人open_id
      to_nickname:
        type: string
        description: 收款人昵称
      remark:
        type: string
        description: 备注
  AccountTransferRecord:
    type: object
    description: 转账输入
    properties:
      app_id:
        type: string
        description: app id
      nickname:
        type: string
        description: 转账人昵称
      record_no:
        type: string
        description: 记录编号
      amount:
        type: string
        description: 转账金额
      to_open_id:
        type: string
        description: 收款人open_id
      to_nickname:
        type: string
        description: 收款人昵称
      imprest_code:
        type: string
        description: 预付款编号
  AccountBankcard:
    type: object
    description: 银行卡信息输入
    properties:
      app_id:
        type: string
        description: 银行名称
      open_id:
        type: string
        description: 用户ID
      bank_name:
        type: string
        description: 银行名称
      bank_code:
        type: string
        description: 银行编号
      holder_name:
        type: string
        description: 持卡人名称
      card_no:
        type: string
        description: 卡号
      card_type:
        type: string
        description: 卡类型 DC 储蓄卡 CC 信用卡
      mobile:
        type: string
        description: 预留手机号
      status:
        type: integer
        format: int64
        description: 0.不可用 1.可用
  PwdFindResult:
    type: object
    description: 密码找回结果
    properties:
      type:
        type: string
        description: '类型（pwdfind_bankcard:通过绑定银行卡找回密码）'
      pwd_token:
        type: string
        description: 用于修改密码的token
  AccountBankcardInput:
    type: object
    description: 银行卡信息输入
    properties:
      bank_name:
        type: string
        description: 银行名称
      holder_name:
        type: string
        description: 持卡人名称
      card_no:
        type: string
        description: 卡号
      bank_code:
        type: string
        description: 银行编号
      card_type:
        type: string
        description: 卡类型 DC 储蓄卡 CC 信用卡
      mobile:
        type: string
        description: 预留手机号
      realname_sign:
        type: string
        description: 实名认证Sign
      bankcard_4_sign:
        type: string
        description: 银行卡四元素sign
  AccountWithdraw:
    type: object
    description: 提现记录
    properties:
      app_id:
        type: string
        description: 支付token
      open_id:
        type: string
        description: 用户ID
      imprest_record_id:
        type: string
        description: 预付款记录ID
      imprest_code:
        type: string
        description: 预付款编号
      amount:
        type: integer
        format: int64
        description: 提款金额
      bankcard_id:
        type: integer
        format: int64
        description: 银行信息对应的ID
      bank_name:
        type: string
        description: 银行名称
      holder_name:
        type: string
        description: 持卡人名称
      card_no:
        type: string
        description: 卡号
      status:
        type: integer
        description: 状态 0.待审核 2.审核不通过 1.审核通过
  WithdrawCashAuditInput:
    type: object
    description: 提现审核输入参数
    properties:
      account_withdraw_id:
        type: integer
        format: int64
        description: 账户提现记录ID
      remark:
        type: string
        description: 备注
      status:
        type: integer
        description: 1.审核通过 2.审核不通过
  AccountWithdrawInput:
    type: object
    description: 提现输入
    properties:
      pay_token:
        type: string
        description: 支付token
      amount:
        type: integer
        format: int64
        description: 提现金额
      third_account_type:
        type: string
        format: string
        description: '第三方账户类型 ALIPAY,WX,BANK'
      third_account:
        type: string
        format: string
        description: 第三方账户
      bankcard_id:
        type: integer
        format: int64
        description: 银行信息ID （如果third_account_type为BANK 此字段为必填）
  ImprestRecordId:
    type: object
    description: 预付款记录ID
    properties:
      imprest_record_id:
        type: integer
        format: int6
        description: 预付款记录ID
  ImprestRefundInput:
    type: object
    description: 预付款退款输入参数
    properties:
      imprest_code:
        type: string
        description: 预付款code
      name:
        type: string
        description: 用户名称（非必填）
      remark:
        type: string
        description: 备注
      flag:
        type: string
        description: flag
  AccountPasswordFindInput:
    type: object
    description: 密码找回输入
    properties:
      bank_name:
        type: string
        description: 银行名称
      holder_name:
        type: string
        description: 持卡人名称
      card_no:
        type: string
        description: 卡号
      bank_code:
        type: string
        description: 银行编号
      card_type:
        type: string
        description: 卡类型 DC 储蓄卡 CC 信用卡
      mobile:
        type: string
        description: 预留手机号
      idcard:
        type: string
        description: 身份证号
      realname_sign:
        type: string
        description: 实名认证签名数据
      bankcard_4_sign:
        type: string
        description: 银行卡四元素sign
  AccountPasswordInput:
    type: object
    description: 账户密码输入
    properties:
      password:
        type: string
        description: 账户密码
  AccountPasswordInput2:
    type: object
    description: 账户密码输入
    properties:
      type:
        type: string
        description: '账户密码修改类型（pwdfind_bankcard: 通过银行卡方式修改密码）'
      password:
        type: string
        description: 新密码
      pwd_token:
        type: string
        description: 密码修改token
  PayToken:
    type: object
    description: 支付token
    properties:
      pay_token:
        type: string
        description: pay token
  AccountRecord:
    type: object
    description: 账户记录
    properties:
      app_id:
        type: string
        description: app id
      open_id:
        type: string
        description: 用户ID
      ticket_id:
        type: string
        description: 预付款唯一ID(幂等ID)
      imprest_record_id:
        type: integer
        description: 预付款记录ID
      imprest_code:
        type: string
        description: 预付款code
      account_id:
        type: integer
        format: int64
        description: 账户ID
      changed_amount:
        type: integer
        format: int64
        description: 变动金额
      balance:
        type: integer
        format: int64
        description: 账户余额
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
  Account:
    type: object
    description: 账户信息
    properties:
      id:
        type: integer
        format: int64
        description: id
      open_id:
        type: string
        description: 用户ID
      amount:
        type: number
        description: 账户余额
      status:
        type: integer
        description: 账户状态 1.可用 0.不可用
      flag:
        type: string
        description: 标记
  PayWrap:
    type: object
    description: 预付款结果
    properties:
      pay_type:
        type: integer
        description: 支付类型 0.支付宝 1.微信
      trade_no:
        type: string
        description: 交易号
      body:
        type: string
        description: 第三方支付的相关数据
  FetchImprestResult:
    type: object
    description: 预付款结果
    properties:
      imprest_record_id:
        type: integer
        format: int64
        description: 预付款记录ID
      ticket_id:
        type: string
        description: 唯一ID
      open_id:
        type: string
        description: 领取人
      amount:
        type: integer
        description: 领取金额
      app_id:
        type: string
        description: appid
      imprest_code:
        type: string
        description: 预付款代号
      ext:
        type: string
        description: 扩展数据
  FetchImprestDto:
    type: object
    description: 领取预付款DTO
    properties:
      ticket_id:
        type: string
        description: 唯一ID
      open_id:
        type: string
        description: 领取人
      imprest_code:
        type: string
        description: 预付款代号
      amount:
        type: integer
        description: 领取金额 为0的话 默认领完预付款金额
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      ext:
        type: string
        description: 扩展数据
  ImprestRecord:
    type: object
    description: 预付款记录
    properties:
      app_id:
        type: string
        description: app_id
      ticket_id:
        type: string
        description: 唯一ID
      open_id:
        type: string
        description: 预付款拥有者ID
      imprest_code:
        type: string
        description: 预付款代号
      opr_open_id:
        type: string
        description: 领取人的ID
      changed_amount:
        type: integer
        description: 变动金额
      balance:
        type: integer
        description: 余额
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      flag:
        type: string
        description: 标记
      ext:
        type: string
        description: 扩展数据
  TradesParam:
    type: object
    description: 交易对象
    properties:
      open_id:
        type: string
        description: 用户ID
      store_no:
        type: string
        description: 店铺编号
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      out_trade_no:
        type: string
        description: 第三方交易号
      out_trade_type:
        type: string
        description: 第三方交易类型
      memo:
        type: string
        description: 备用数据
      imprest_code:
        type: string
        description: 预付款编号
      notify_url:
        type: string
        description: 通知URL
      pay_type:
        type: integer
        description: 支付类型 1.支付宝 2.微信 4.账户支付
      client_ip:
        type: string
        description: 客户端IP
      client_type:
        type: integer
        description: '客户端类型 0,1手机端 2.web'
      wx_open_id:
        type: string
        description: 微信OpenId（微信JSAPI支付需要）
      version:
        type: integer
        description: '0, 1.0'
      ext:
        type: string
        description: 扩展数据
  Trades:
    type: object
    description: 交易对象
    properties:
      id:
        type: integer
        description: id
      app_id:
        type: string
        description: 应用ID
      open_id:
        type: string
        description: 用户ID
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      trade_no:
        type: string
        description: 交易号
      out_trade_no:
        type: string
        description: 第三方交易号
      memo:
        type: string
        description: 备用数据
      imprest_code:
        type: string
        description: 预付款编号
      notify_url:
        type: string
        description: 通知URL
      notify_status:
        type: integer
        description: 通知状态(1.通知成功 0.等待通知 2.通知失败)
      pay_type:
        type: integer
        description: 支付类型 0.支付宝 1.微信
      amount:
        type: integer
        description: 金额
      client_ip:
        type: string
        description: 客户端IP
      status:
        type: integer
        description: 状态 1.交易成功 0.待交易 2.交易错误
      ext:
        type: string
        description: 扩展数据
  TradesRefundInput:
    type: object
    description: 交易退款输入参数
    properties:
      title:
        type: string
        description: 标题
      trade_no:
        type: string
        description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
      imprest_code:
        type: string
        description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
      out_trade_no:
        type: string
        description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
      out_refund_no:
        type: string
        description: 第三方退款单号（第三方的退款单号，唯一）
      opr_open_id:
        type: string
        description: 操作用户open_id
      store_no:
        type: string
        description: 店铺编号
      refund_type:
        type: integer
        format: int
        description: 退款方式(1.支付宝 2.微信 4.账户支付)
      refund_amount:
        type: integer
        description: 退款金额
      refund_desc:
        type: string
        description: 退款原因
      client_ip:
        type: string
        description: 客户端IP
      client_type:
        type: integer
        description: '客户端类型 0,1手机端 2.web端'
      flag:
        type: string
        description: flag
      ext:
        type: string
        description: 扩展数据
  ImprestParam:
    type: object
    description: 预付款参数
    properties:
      ticket_id:
        type: string
        description: 唯一ID
      out_trade_no:
        type: string
        description: 第三方订单号
      open_id:
        type: string
        description: 用户ID
      opr_open_ids:
        type: string
        description: '可以操作的人的ID集合例如: 1223,343545,4545'
      amount:
        type: integer
        description: 预付款金额
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      ext:
        type: string
        description: 扩展数据
  Imprest:
    type: object
    description: 预付款对象
    properties:
      id:
        type: integer
        description: ID
      app_id:
        type: string
        description: 应用ID
      ticket_id:
        type: string
        description: 唯一ID
      imprest_code:
        type: string
        description: 预付款代码
      out_trade_no:
        type: string
        description: 第三方订单号
      opr_open_ids:
        type: string
        description: '可以操作的人的ID集合例如: 1223,343545,4545'
      amount:
        type: integer
        description: 预付款金额
      balance:
        type: integer
        description: 余额
      status:
        type: integer
        description: 状态 1.进行中 0.等待生效 2.完成  -1.异常
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      ext:
        type: string
        description: 扩展数据
  Error:
    type: object
    properties:
      err_code:
        type: string
      err_msg:
        type: string
