swagger: '2.0'
info:
  title: IM离线消息API
  description: IM离线消息API
  version: 1.0.0
host: imofflinemsgapi.qiyunxin.com
securityDefinitions:
  app_id:
    type: apiKey
    in: header
    name: app_id
    description: 应用ID
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: 用户token
  sign:
    type: apiKey
    in: header
    name: sign
    description: 签名
  noncestr:
    type: apiKey
    in: header
    name: noncestr
    description: 随机字符串
  timestamp:
    type: apiKey
    in: header
    name: timestamp
    description: 时间戳
schemes:
  - http
basePath: /v1
produces:
  - application/json
paths:
  '/users/{open_id}/offlinemsgs':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取离线消息
      description: |
        获取用户的离线消息
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
        - name: page_size
          in: query
          description: 每次获取离线消息的数量 不填默认为50条
          required: false
          type: number
      tags:
        - msgs
      responses:
        '200':
          description: 返回消息列表
          schema:
            type: array
            items:
              type: object
              properties:
                msg_id:
                  type: number
                  description: 消息ID
                msg_no:
                  type: string
                  description: 消息编号
                from_cust_id:
                  type: number
                  description: 消息发送者ID
                to_cust_id:
                  type: number
                  description: 接受这ID.
                msg_type:
                  type: number
                  description: 消息类型
                content:
                  type: string
                  description: 消息正文(json字符串)
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/offlineack':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 离线消息回执
      description: |
        离线消息回执
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
        - name: msgids
          in: query
          description: '多个消息以逗号隔开,例如 232334,3434,343434'
          required: true
          type: string
      tags:
        - msgs
      responses:
        '200':
          description: 成功返回
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
definitions:
  Msg:
    type: object
    properties:
      msg_id:
        type: number
        description: 消息ID
      msg_no:
        type: string
        description: 消息编号
      from_cust_id:
        type: number
        description: 消息发送者ID
      to_cust_id:
        type: number
        description: 接受这ID.
      msg_type:
        type: number
        description: 消息类型
      content:
        type: string
        description: 消息正文(json字符串)
  Error:
    type: object
    properties:
      err_code:
        type: string
      err_msg:
        type: string
