{"swagger":"2.0","info":{"description":"权限服务","version":"1.0.0","title":"权限服务"},"host":"rbacapi.qiyunxin.com","tags":[{"name":"authorization","description":"授权"}],"securityDefinitions":{"app_id":{"type":"apiKey","in":"header","name":"app_id","description":"应用ID"},"Authorization":{"type":"apiKey","in":"header","name":"Authorization","description":"用户token"}},"schemes":["http"],"basePath":"/v1","produces":["application/json"],"paths":{"/authorization/app":{"get":{"tags":["authorization"],"summary":"获取APP信息","description":"获取APP信息","operationId":"AuthorizationGetApp","parameters":[{"in":"query","name":"app_id","description":"app_id","type":"string","required":true}],"responses":{"200":{"description":"返回","schema":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"app_name":{"type":"string","description":"app 名称"},"app_desc":{"type":"string","description":"app 描述"},"app_icon":{"type":"string","description":"app icon"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}},"/authorization/code":{"get":{"tags":["authorization"],"summary":"获取授权code","description":"获取授权code","operationId":"AuthorizationGetCode","parameters":[{"in":"query","name":"app_id","description":"app_id","type":"string","required":true},{"in":"query","name":"state","description":"用于保持请求和回调的状态，授权请求后原样带回给第三方。该参数可用于防止csrf攻击（跨站请求伪造攻击），建议第三方带上该参数，可设置为简单的随机数加session进行校验","type":"string","required":true},{"in":"query","name":"scope","description":"应用授权作用域，如获取用户个人信息则填写snsapi_userinfo","type":"string","required":true}],"responses":{"200":{"description":"返回","schema":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"state":{"type":"string","description":"用于保持请求和回调的状态，授权请求后原样带回给第三方。该参数可用于防止csrf攻击（跨站请求伪造攻击），建议第三方带上该参数，可设置为简单的随机数加session进行校验"},"scope":{"type":"string","description":"应用授权作用域"},"code":{"type":"string","description":"授权code"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]}},"/authorization/composes":{"get":{"tags":["authorization"],"summary":"获取组合列表","description":"获取组合列表","operationId":"AuthorizationGetComposes","parameters":[{"in":"query","name":"app_id","description":"app_id","type":"string","required":true},{"in":"query","name":"scope","description":"应用授权作用域，如获取用户个人信息则填写snsapi_userinfo","type":"string","required":true}],"responses":{"200":{"description":"返回","schema":{"type":"array","items":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"parent_no":{"type":"string","description":"父类组合编号"},"compose_no":{"type":"string","description":"组合编号"},"compose_name":{"type":"string","description":"组合名称"},"scope":{"type":"string"},"remark":{"type":"string","description":"备注"}}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}},"/authorization/checkcode":{"post":{"tags":["authorization"],"summary":"检查授权code是否正确","description":"检查授权code是否正确","operationId":"AuthorizationCheckCode","parameters":[{"in":"body","name":"body","required":true,"schema":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"code":{"type":"string","description":"授权code"}}}}],"responses":{"200":{"description":"返回","schema":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"state":{"type":"string","description":"用于保持请求和回调的状态，授权请求后原样带回给第三方。该参数可用于防止csrf攻击（跨站请求伪造攻击），建议第三方带上该参数，可设置为简单的随机数加session进行校验"},"scope":{"type":"string","description":"应用授权作用域"},"code":{"type":"string","description":"授权code"},"open_id":{"type":"string","description":"用户open_id"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}}},"definitions":{"CheckcodeInput":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"code":{"type":"string","description":"授权code"}}},"Compose":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"parent_no":{"type":"string","description":"父类组合编号"},"compose_no":{"type":"string","description":"组合编号"},"compose_name":{"type":"string","description":"组合名称"},"scope":{"type":"string"},"remark":{"type":"string","description":"备注"}}},"CheckCodeResult":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"state":{"type":"string","description":"用于保持请求和回调的状态，授权请求后原样带回给第三方。该参数可用于防止csrf攻击（跨站请求伪造攻击），建议第三方带上该参数，可设置为简单的随机数加session进行校验"},"scope":{"type":"string","description":"应用授权作用域"},"code":{"type":"string","description":"授权code"},"open_id":{"type":"string","description":"用户open_id"}}},"GetCodeResult":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"state":{"type":"string","description":"用于保持请求和回调的状态，授权请求后原样带回给第三方。该参数可用于防止csrf攻击（跨站请求伪造攻击），建议第三方带上该参数，可设置为简单的随机数加session进行校验"},"scope":{"type":"string","description":"应用授权作用域"},"code":{"type":"string","description":"授权code"}}},"AppInput":{"type":"object","properties":{"app_id":{"type":"string","description":"app id"},"app_name":{"type":"string","description":"app 名称"},"app_desc":{"type":"string","description":"app 描述"},"app_icon":{"type":"string","description":"app icon"}}},"BaseModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"id"},"app_id":{"type":"string","description":"app id"},"create_time":{"type":"string","description":"创建时间"},"update_time":{"type":"string","description":"修改时间"}}},"Error":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}