swagger: '2.0'
info:
  title: 关系服务
  description: 关系服务
  version: 1.0.0
host: relationapi.qiyunxin.com
tags:
  - name: relations
    description: 关系
  - name: types
    description: 关系类型
securityDefinitions:
  app_id:
    type: apiKey
    in: header
    name: app_id
    description: 应用ID
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: 用户token
  sign:
    type: apiKey
    in: header
    name: sign
    description: 签名
  noncestr:
    type: apiKey
    in: header
    name: noncestr
    description: 随机字符串
  timestamp:
    type: apiKey
    in: header
    name: timestamp
    description: 时间戳
schemes:
  - http
basePath: /v1
produces:
  - application/json
paths:
  '/users/{open_id}/prerelation':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 预备添加关系
      operationId: PreRelationAdd
      description: |
        预备添加关系
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: 用户名称
              props:
                type: object
                description: 用户属性
              r_open_id:
                type: string
                description: 关联用户open_id
              r_name:
                type: string
                description: 关联用户名称
              r_props:
                type: object
                description: 关联用户属性
              type:
                type: string
                description: '关系类型  friend 朋友 , coworker 同事 等等'
              mutual:
                type: integer
                description: 相互关联 (1.相互关联 0.单项关联)
              remark:
                type: string
                description: 备注信息，留言信息
      tags:
        - relations
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              pre_relation_no:
                type: string
                description: 预备关系编号
              data:
                type: object
                properties:
                  open_id:
                    type: string
                    description: 用户open_id
                  name:
                    type: string
                    description: 用户名称
                  type:
                    type: string
                    description: '关系类型  friend 朋友 , coworker 同事 等等'
                  props:
                    type: object
                    description: 属性
              type:
                type: string
                description: '关系类型  friend 朋友 , coworker 同事 等等'
              props:
                type: object
                description: 属性
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/relation/{pre_relation_no}':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 添加关系
      operationId: RelationAdd
      description: |
        添加关系
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
        - name: pre_relation_no
          in: path
          description: 预备关系编号
          required: true
          type: string
      tags:
        - relations
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/relation':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取跟当前用户有关的关系数据
      operationId: RelationList
      description: |
        获取跟当前用户有关的关系数据
      parameters:
        - name: type
          in: query
          description: 关系类型（为空即查询有关系的人）
          required: false
          type: string
        - name: direction
          in: query
          description: 查询反向 默认为正向查询  reverse 反向查询
          required: false
          type: string
        - name: depth
          in: query
          description: 深度 比如查询我的好友 深度为1  查询我的好友的好友深度为2（默认为1）
          required: false
          type: string
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
      tags:
        - relations
      responses:
        '200':
          description: 返回
          schema:
            type: array
            items:
              type: object
              properties:
                open_id:
                  type: string
                  description: 用户open_id
                name:
                  type: string
                  description: 用户名称
                type:
                  type: string
                  description: '关系类型  friend 朋友 , coworker 同事 等等'
                props:
                  type: object
                  description: 属性
                type_props:
                  type: object
                  description: 关系类型的属性
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/relation/r/{r_open_id}/types/{type}':
    delete:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取与指定用户的关系类型
      operationId: RelationTypeDelete
      description: |
        获取与指定用户的关系类型
      parameters:
        - name: r_open_id
          in: path
          description: 关联的人的open_id
          required: true
          type: string
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
        - name: type
          in: path
          description: '关系类型  friend 朋友 , coworker 同事 等等'
          required: true
          type: string
      tags:
        - relations
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/relation/r/{r_open_id}/types':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取与指定用户的关系类型
      operationId: TypeWithList
      description: |
        获取与指定用户的关系类型
      parameters:
        - name: r_open_id
          in: path
          description: 关联的人的open_id
          required: true
          type: string
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
      tags:
        - relations
      responses:
        '200':
          description: 返回
          schema:
            items:
              type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/users/{open_id}/types/{type}/r/{r_open_id}':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取关系属性
      operationId: TypesGet
      description: |
        获取关系属性
      parameters:
        - name: r_open_id
          in: path
          description: 关联的人的open_id
          required: true
          type: string
        - name: type
          in: path
          description: '关系类型  friend 朋友 , coworker 同事 等等'
          required: true
          type: string
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
      tags:
        - types
      responses:
        '200':
          description: 返回
          schema:
            type: object
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
    put:
      security:
        - app_id: []
        - Authorization: []
      summary: 修改关系属性
      operationId: TypesUpdate
      description: |
        修改关系属性
      parameters:
        - name: r_open_id
          in: path
          description: 关联的人的open_id
          required: true
          type: string
        - name: type
          in: path
          description: '关系类型  friend 朋友 , coworker 同事 等等'
          required: true
          type: string
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              props:
                type: object
                description: 属性
      tags:
        - types
      responses:
        '200':
          description: 返回
          schema:
            type: object
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  /relationlist:
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取跟当前用户有关的关系数据 (内部接口)
      operationId: RelationListForInner
      description: |
        获取跟当前用户有关的关系数据（内部接口）
      parameters:
        - name: type
          in: query
          description: 关系类型（为空即查询有关系的人）
          required: false
          type: string
        - name: direction
          in: query
          description: 查询反向 默认为正向查询  reverse 反向查询
          required: false
          type: string
        - name: depth
          in: query
          description: 深度 比如查询我的好友 深度为1  查询我的好友的好友深度为2（默认为1）
          required: false
          type: string
        - name: open_id
          in: query
          description: 用户open_id
          required: true
          type: string
      tags:
        - relations
      responses:
        '200':
          description: 返回
          schema:
            type: array
            items:
              type: object
              properties:
                open_id:
                  type: string
                  description: 用户open_id
                name:
                  type: string
                  description: 用户名称
                type:
                  type: string
                  description: '关系类型  friend 朋友 , coworker 同事 等等'
                props:
                  type: object
                  description: 属性
                type_props:
                  type: object
                  description: 关系类型的属性
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/prerelation/add/{open_id}':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 预备添加关系(内部接口)
      operationId: PreRelationAddForInner
      description: |
        预备添加关系
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: 用户名称
              props:
                type: object
                description: 用户属性
              r_open_id:
                type: string
                description: 关联用户open_id
              r_name:
                type: string
                description: 关联用户名称
              r_props:
                type: object
                description: 关联用户属性
              type:
                type: string
                description: '关系类型  friend 朋友 , coworker 同事 等等'
              mutual:
                type: integer
                description: 相互关联 (1.相互关联 0.单项关联)
              remark:
                type: string
                description: 备注信息，留言信息
      tags:
        - relations
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              pre_relation_no:
                type: string
                description: 预备关系编号
              data:
                type: object
                properties:
                  open_id:
                    type: string
                    description: 用户open_id
                  name:
                    type: string
                    description: 用户名称
                  type:
                    type: string
                    description: '关系类型  friend 朋友 , coworker 同事 等等'
                  props:
                    type: object
                    description: 属性
              type:
                type: string
                description: '关系类型  friend 朋友 , coworker 同事 等等'
              props:
                type: object
                description: 属性
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/relation/{pre_relation_no}':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 添加关系 （内部接口）
      operationId: RelationAddForInner
      description: |
        添加关系 （内部接口）
      parameters:
        - name: pre_relation_no
          in: path
          description: 预备关系编号
          required: true
          type: string
      tags:
        - relations
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
definitions:
  TypesUpdateInput:
    type: object
    properties:
      props:
        type: object
        description: 属性
  PreRelationResult:
    type: object
    properties:
      pre_relation_no:
        type: string
        description: 预备关系编号
      data:
        type: object
        properties:
          open_id:
            type: string
            description: 用户open_id
          name:
            type: string
            description: 用户名称
          type:
            type: string
            description: '关系类型  friend 朋友 , coworker 同事 等等'
          props:
            type: object
            description: 属性
      type:
        type: string
        description: '关系类型  friend 朋友 , coworker 同事 等等'
      props:
        type: object
        description: 属性
  RelationNode:
    type: object
    properties:
      open_id:
        type: string
        description: 用户open_id
      name:
        type: string
        description: 用户名称
      type:
        type: string
        description: '关系类型  friend 朋友 , coworker 同事 等等'
      props:
        type: object
        description: 属性
      type_props:
        type: object
        description: 关系类型的属性
  PreRelation:
    type: object
    properties:
      open_id:
        type: string
        description: 用户open_id
      name:
        type: string
        description: 用户名称
      type:
        type: string
        description: '关系类型  friend 朋友 , coworker 同事 等等'
      props:
        type: object
        description: 属性
  PreRelationInput:
    type: object
    properties:
      name:
        type: string
        description: 用户名称
      props:
        type: object
        description: 用户属性
      r_open_id:
        type: string
        description: 关联用户open_id
      r_name:
        type: string
        description: 关联用户名称
      r_props:
        type: object
        description: 关联用户属性
      type:
        type: string
        description: '关系类型  friend 朋友 , coworker 同事 等等'
      mutual:
        type: integer
        description: 相互关联 (1.相互关联 0.单项关联)
      remark:
        type: string
        description: 备注信息，留言信息
  Error:
    type: object
    properties:
      err_code:
        type: string
      err_msg:
        type: string
