{"swagger":"2.0","info":{"description":"商铺业务服务","version":"1.0.0","title":"商铺业务服务"},"host":"storeapi.qiyunxin.com","tags":[{"name":"stores","description":"店铺"}],"securityDefinitions":{"app_id":{"type":"apiKey","in":"header","name":"app_id","description":"应用ID"},"Authorization":{"type":"apiKey","in":"header","name":"Authorization","description":"用户token"}},"schemes":["http"],"basePath":"/v1","produces":["application/json"],"paths":{"/stores/{store_no}/viptransactions":{"get":{"tags":["stores"],"summary":"店铺会员交易记录","description":"店铺会员交易记录","operationId":"VipTransactionPage","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"store_no","description":"店铺编号","type":"string","required":true},{"in":"query","name":"page_index","description":"页码","type":"integer","required":false},{"in":"query","name":"page_size","description":"页大小","type":"integer","required":false}],"responses":{"200":{"description":"返回","schema":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"id"},"app_id":{"type":"string","description":"app id"},"create_time":{"type":"string","description":"创建时间"},"update_time":{"type":"string","description":"修改时间"}}},{"type":"object","description":"会员交易信息","properties":{"app_id":{"type":"string","description":"app id"},"store_no":{"type":"string","description":"店铺编号"},"open_id":{"type":"string","description":"open_id"},"total_amount":{"type":"number","description":"总交易金额"},"total_count":{"type":"integer","description":"总交易次数"},"last_t_time":{"type":"integer","format":"int64","description":"最后一次交易时间"},"ext":{"type":"string","description":"附加数据"}}}]}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]}]}},"/stores/{store_no}/viptotal":{"get":{"tags":["stores"],"summary":"店铺会员统计信息","description":"店铺会员统计信息","operationId":"StoreVipTotal","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"store_no","description":"用户open_id","type":"string","required":true}],"responses":{"200":{"description":"返回","schema":{"type":"object","description":"店铺会员统计信息","properties":{"total_count":{"type":"integer","format":"int64","description":"店铺总会员数"},"month_count":{"type":"integer","format":"int64","description":"一个月内新增的会员数"},"today_count":{"type":"integer","format":"int64","description":"今日新增会员数"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]}]}},"/users/{open_id}/store/register":{"post":{"tags":["stores"],"summary":"注册店铺","description":"注册店铺","operationId":"StoreRegister","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"open_id","description":"用户open_id","type":"string","required":true},{"in":"body","name":"store","description":"店铺数据","required":true,"schema":{"type":"object","properties":{"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"phone":{"type":"string","description":"创建者联系方式"},"name":{"type":"string","description":"创建者名称"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"longitude":{"type":"string","description":"店铺经度"},"latitude":{"type":"string","description":"店铺维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"level":{"type":"integer","description":"店铺等级"}}}}],"responses":{"200":{"description":"返回成功","schema":{"allOf":[{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID"},"store_no":{"type":"string","description":"店铺编号"},"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"name":{"type":"string","description":"联系人名字"},"phone":{"type":"string","description":"联系人电话"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"latitude":{"type":"number","description":"经度"},"longitude":{"type":"number","description":"维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"open_id":{"type":"string","description":"店铺所属者id"},"level":{"type":"string","description":"店铺等级"},"create_time":{"type":"string","description":"创建时间"}}},{"type":"object","description":"店铺认证结果","properties":{"token":{"type":"string","description":"token"}}}]}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]}},"/users/{open_id}/stores/{store_no}/auth":{"post":{"tags":["stores"],"summary":"店铺认证","description":"店铺认证","operationId":"StoreAuth","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"open_id","description":"用户open_id","type":"string","required":true},{"in":"path","name":"store_no","description":"店铺编号（填写default为默认店铺）","type":"string","required":true}],"responses":{"200":{"description":"返回成功","schema":{"allOf":[{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID"},"store_no":{"type":"string","description":"店铺编号"},"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"name":{"type":"string","description":"联系人名字"},"phone":{"type":"string","description":"联系人电话"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"latitude":{"type":"number","description":"经度"},"longitude":{"type":"number","description":"维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"open_id":{"type":"string","description":"店铺所属者id"},"level":{"type":"string","description":"店铺等级"},"create_time":{"type":"string","description":"创建时间"}}},{"type":"object","description":"店铺认证结果","properties":{"token":{"type":"string","description":"token"}}}]}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]}},"/stores/{store_no}":{"get":{"tags":["stores"],"summary":"获取指定的店铺详情","description":"获取指定的店铺详情","operationId":"StoreGet","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"store_no","description":"店铺ID","required":true,"type":"string"}],"responses":{"200":{"description":"店铺信息","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID"},"store_no":{"type":"string","description":"店铺编号"},"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"name":{"type":"string","description":"联系人名字"},"phone":{"type":"string","description":"联系人电话"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"latitude":{"type":"number","description":"经度"},"longitude":{"type":"number","description":"维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"open_id":{"type":"string","description":"店铺所属者id"},"level":{"type":"string","description":"店铺等级"},"create_time":{"type":"string","description":"创建时间"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]}]}},"/users/{open_id}/stores/{store_no}":{"put":{"tags":["stores"],"summary":"修改指定的店铺","description":"修改指定的店铺","operationId":"StoreUpdate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"open_id","description":"用户open_id","type":"string","required":true},{"in":"path","name":"store_no","description":"店铺ID","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"店铺信息","required":true,"schema":{"type":"object","properties":{"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"phone":{"type":"string","description":"创建者联系方式"},"name":{"type":"string","description":"创建者名称"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"longitude":{"type":"string","description":"店铺经度"},"latitude":{"type":"string","description":"店铺维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"level":{"type":"integer","description":"店铺等级"}}}}],"responses":{"200":{"description":"返回","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID"},"store_no":{"type":"string","description":"店铺编号"},"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"name":{"type":"string","description":"联系人名字"},"phone":{"type":"string","description":"联系人电话"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"latitude":{"type":"number","description":"经度"},"longitude":{"type":"number","description":"维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"open_id":{"type":"string","description":"店铺所属者id"},"level":{"type":"string","description":"店铺等级"},"create_time":{"type":"string","description":"创建时间"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]}},"/stores":{"get":{"tags":["stores"],"summary":"分页查询店铺列表(权限控制)","description":"分页查询店铺列表(权限控制)","operationId":"StorePage2","parameters":[{"in":"query","name":"keyword","description":"关键字查询（店铺标题）","required":false,"type":"string"},{"in":"query","name":"parent_store_no","description":"父类店铺编号","required":false,"type":"string"},{"in":"query","name":"type","description":"店铺类型","required":false,"type":"string"},{"in":"query","name":"member_open_id","description":"成员open_id","required":false,"type":"string"},{"in":"query","name":"member_role","description":"成员角色","required":false,"type":"string"},{"in":"query","name":"page_index","description":"页码","required":false,"type":"integer","format":"int64"},{"in":"query","name":"page_size","description":"页大小","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"返回","schema":{"type":"object","description":"店铺分页对象","properties":{"page_size":{"type":"integer","description":"页大小"},"page_index":{"type":"integer","description":"页码"},"total":{"type":"integer","description":"总数据大小"},"data":{"type":"array","description":"数据","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID"},"store_no":{"type":"string","description":"店铺编号"},"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"name":{"type":"string","description":"联系人名字"},"phone":{"type":"string","description":"联系人电话"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"latitude":{"type":"number","description":"经度"},"longitude":{"type":"number","description":"维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"open_id":{"type":"string","description":"店铺所属者id"},"level":{"type":"string","description":"店铺等级"},"create_time":{"type":"string","description":"创建时间"}}}}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]},"post":{"tags":["stores"],"summary":"添加店铺(权限控制)","description":"添加店铺(权限控制)","operationId":"StoreAdd","parameters":[{"in":"body","name":"body","description":"输入","required":true,"schema":{"allOf":[{"type":"object","properties":{"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"phone":{"type":"string","description":"创建者联系方式"},"name":{"type":"string","description":"创建者名称"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"longitude":{"type":"string","description":"店铺经度"},"latitude":{"type":"string","description":"店铺维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"level":{"type":"integer","description":"店铺等级"}}},{"type":"object","description":"店铺认证结果","properties":{"members":{"type":"array","description":"token","items":{"type":"object","properties":{"open_id":{"type":"string","description":"用户open_id"},"name":{"type":"string","description":"用户名称"},"role":{"type":"string","description":"用户角色"},"status":{"type":"integer","format":"int","description":"成员状态 0.禁用 1.正常"},"ext":{"type":"string","description":"扩展数据"}}}}}}]}}],"responses":{"200":{"description":"返回","schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID"},"store_no":{"type":"string","description":"店铺编号"},"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"name":{"type":"string","description":"联系人名字"},"phone":{"type":"string","description":"联系人电话"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"latitude":{"type":"number","description":"经度"},"longitude":{"type":"number","description":"维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"open_id":{"type":"string","description":"店铺所属者id"},"level":{"type":"string","description":"店铺等级"},"create_time":{"type":"string","description":"创建时间"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]}},"/stores/{store_no}/members":{"get":{"tags":["stores"],"summary":"查询店铺成员列表","description":"查询店铺成员列表","operationId":"StoreMemberList","parameters":[{"in":"path","name":"store_no","description":"店铺编号","required":true,"type":"string"},{"in":"query","name":"member_open_id","description":"成员open_id","required":false,"type":"string"},{"in":"query","name":"keyword","description":"关键字查询（成员昵称）","required":false,"type":"string"}],"responses":{"200":{"description":"返回","schema":{"items":{"allOf":[{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"id"},"app_id":{"type":"string","description":"app id"},"create_time":{"type":"string","description":"创建时间"},"update_time":{"type":"string","description":"修改时间"}}},{"type":"object"}],"type":"object","properties":{"open_id":{"type":"string","description":"用户open_id"},"name":{"type":"string","description":"用户名称"},"role":{"type":"string","description":"用户角色"},"status":{"type":"integer","format":"int","description":"成员状态 0.禁用 1.正常"},"ext":{"type":"string","description":"扩展数据"}}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]}},"/stores/{store_no}/status/{status}":{"put":{"tags":["stores"],"summary":"更新店铺状态","description":"更新店铺状态","operationId":"StoreStatusChange","parameters":[{"in":"path","name":"store_no","description":"店铺编号","required":true,"type":"string"},{"in":"path","name":"status","description":"店铺状态 0.未启用 1.正常营业 2.营业关闭","required":true,"type":"string"}],"responses":{"200":{"description":"返回","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}},"security":[{"app_id":[]},{"Authorization":[]}]}}},"definitions":{"StoreDetailInput":{"allOf":[{"type":"object","properties":{"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"phone":{"type":"string","description":"创建者联系方式"},"name":{"type":"string","description":"创建者名称"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"longitude":{"type":"string","description":"店铺经度"},"latitude":{"type":"string","description":"店铺维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"level":{"type":"integer","description":"店铺等级"}}},{"type":"object","description":"店铺认证结果","properties":{"members":{"type":"array","description":"token","items":{"type":"object","properties":{"open_id":{"type":"string","description":"用户open_id"},"name":{"type":"string","description":"用户名称"},"role":{"type":"string","description":"用户角色"},"status":{"type":"integer","format":"int","description":"成员状态 0.禁用 1.正常"},"ext":{"type":"string","description":"扩展数据"}}}}}}]},"StoreMemberInput":{"type":"object","properties":{"open_id":{"type":"string","description":"用户open_id"},"name":{"type":"string","description":"用户名称"},"role":{"type":"string","description":"用户角色"},"status":{"type":"integer","format":"int","description":"成员状态 0.禁用 1.正常"},"ext":{"type":"string","description":"扩展数据"}}},"StoreMember":{"allOf":[{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"id"},"app_id":{"type":"string","description":"app id"},"create_time":{"type":"string","description":"创建时间"},"update_time":{"type":"string","description":"修改时间"}}},{"type":"object"}],"type":"object","properties":{"open_id":{"type":"string","description":"用户open_id"},"name":{"type":"string","description":"用户名称"},"role":{"type":"string","description":"用户角色"},"status":{"type":"integer","format":"int","description":"成员状态 0.禁用 1.正常"},"ext":{"type":"string","description":"扩展数据"}}},"StoreAuthResult":{"allOf":[{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID"},"store_no":{"type":"string","description":"店铺编号"},"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"name":{"type":"string","description":"联系人名字"},"phone":{"type":"string","description":"联系人电话"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"latitude":{"type":"number","description":"经度"},"longitude":{"type":"number","description":"维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"open_id":{"type":"string","description":"店铺所属者id"},"level":{"type":"string","description":"店铺等级"},"create_time":{"type":"string","description":"创建时间"}}},{"type":"object","description":"店铺认证结果","properties":{"token":{"type":"string","description":"token"}}}]},"StoreVipTotal":{"type":"object","description":"店铺会员统计信息","properties":{"total_count":{"type":"integer","format":"int64","description":"店铺总会员数"},"month_count":{"type":"integer","format":"int64","description":"一个月内新增的会员数"},"today_count":{"type":"integer","format":"int64","description":"今日新增会员数"}}},"VipTransaction":{"allOf":[{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"id"},"app_id":{"type":"string","description":"app id"},"create_time":{"type":"string","description":"创建时间"},"update_time":{"type":"string","description":"修改时间"}}},{"type":"object","description":"会员交易信息","properties":{"app_id":{"type":"string","description":"app id"},"store_no":{"type":"string","description":"店铺编号"},"open_id":{"type":"string","description":"open_id"},"total_amount":{"type":"number","description":"总交易金额"},"total_count":{"type":"integer","description":"总交易次数"},"last_t_time":{"type":"integer","format":"int64","description":"最后一次交易时间"},"ext":{"type":"string","description":"附加数据"}}}]},"StoreVip":{"allOf":[{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"id"},"app_id":{"type":"string","description":"app id"},"create_time":{"type":"string","description":"创建时间"},"update_time":{"type":"string","description":"修改时间"}}},{"type":"object","description":"店铺会员","properties":{"app_id":{"type":"string","description":"app id"},"store_no":{"type":"string","description":"店铺编号"},"open_id":{"type":"string","description":"open_id"},"name":{"type":"string","description":"用户名称"},"level":{"type":"integer","description":"等级"},"ext":{"type":"string","description":"附加数据"}}}]},"StoreParam":{"type":"object","properties":{"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"phone":{"type":"string","description":"创建者联系方式"},"name":{"type":"string","description":"创建者名称"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"longitude":{"type":"string","description":"店铺经度"},"latitude":{"type":"string","description":"店铺维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"level":{"type":"integer","description":"店铺等级"}}},"StorePage":{"type":"object","description":"店铺分页对象","properties":{"page_size":{"type":"integer","description":"页大小"},"page_index":{"type":"integer","description":"页码"},"total":{"type":"integer","description":"总数据大小"},"data":{"type":"array","description":"数据","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID"},"store_no":{"type":"string","description":"店铺编号"},"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"name":{"type":"string","description":"联系人名字"},"phone":{"type":"string","description":"联系人电话"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"latitude":{"type":"number","description":"经度"},"longitude":{"type":"number","description":"维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"open_id":{"type":"string","description":"店铺所属者id"},"level":{"type":"string","description":"店铺等级"},"create_time":{"type":"string","description":"创建时间"}}}}}},"Store":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID"},"store_no":{"type":"string","description":"店铺编号"},"parent_store_no":{"type":"string","description":"父类店铺编号"},"title":{"type":"string","description":"店铺标题"},"name":{"type":"string","description":"联系人名字"},"phone":{"type":"string","description":"联系人电话"},"service_phone":{"type":"string","description":"服务电话"},"service_time":{"type":"string","description":"服务时间"},"province":{"type":"string","description":"省份名称"},"city":{"type":"string","description":"城市名称"},"area":{"type":"string","description":"区域"},"address":{"type":"string","description":"店铺地址"},"latitude":{"type":"number","description":"经度"},"longitude":{"type":"number","description":"维度"},"type":{"type":"string","description":"店铺类型"},"ext":{"type":"string","description":"扩展字段"},"icon":{"type":"string","description":"店铺logo"},"open_id":{"type":"string","description":"店铺所属者id"},"level":{"type":"string","description":"店铺等级"},"create_time":{"type":"string","description":"创建时间"}}},"BaseModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"id"},"app_id":{"type":"string","description":"app id"},"create_time":{"type":"string","description":"创建时间"},"update_time":{"type":"string","description":"修改时间"}}},"Error":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}