{"swagger":"2.0","info":{"title":"红包服务","description":"领取红包，红包详情，领取记录等等","version":"2.0.0"},"host":"redpacket.qiyunxin.com","schemes":["http"],"tags":[{"name":"redpackets","description":"红包"},{"name":"redpacketrecords","description":"红包记录"}],"basePath":"/v1","securityDefinitions":{"app_id":{"type":"apiKey","in":"header","name":"app_id","description":"应用ID"},"Authorization":{"type":"apiKey","in":"header","name":"Authorization","description":"用户token"},"sign":{"type":"apiKey","in":"header","name":"sign","description":"签名"},"noncestr":{"type":"apiKey","in":"header","name":"noncestr","description":"签名"},"timestamp":{"type":"apiKey","in":"header","name":"timestamp","description":"签名"}},"produces":["application/json"],"paths":{"/users/{open_id}/redpackets":{"post":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"创建红包","operationId":"RedpacketAdd","description":"创建红包\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"body","in":"body","description":"红包入参","required":true,"schema":{"type":"object","description":"红包入参","properties":{"nickname":{"type":"string","description":"创建者昵称"},"amount":{"type":"number","description":"红包金额"},"blessing":{"type":"string","description":"祝福语"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"}}}}],"tags":["redpackets"],"responses":{"200":{"description":"返回","schema":{"type":"object","description":"红包入参","properties":{"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"blessing":{"type":"string","description":"祝福"},"imprest_code":{"type":"string","description":"预付款编号"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"},"receive_num":{"type":"integer","description":"已领取的数量"},"status":{"type":"integer","description":"0.未生效  1.已生效 2.已领取完毕 3.已过期  -1. 本人已领取"},"create_time":{"type":"string","description":"创建时间"},"finished_time":{"type":"string","description":"红包完成时间"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpackets/{redpacket_no}/pay":{"post":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"红包付款","operationId":"RedpacketPay","description":"红包付款\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"redpacket_no","in":"path","description":"红包编号","required":true,"type":"string"},{"name":"pay_token","in":"query","description":"支付token","required":false,"type":"string"},{"name":"pay_type","in":"query","description":"支付类型 1.支付宝 2.微信 4.账户支付  99.自定义","required":false,"type":"integer"}],"tags":["redpackets"],"responses":{"200":{"description":"返回","schema":{"type":"object","description":"红包入参","properties":{"pay":{"type":"object","description":"预付款结果","properties":{"pay_type":{"type":"integer","description":"支付类型 0.支付宝 1.微信"},"trade_no":{"type":"string","description":"交易号"},"body":{"type":"string","description":"第三方支付的相关数据"}}},"redpacket":{"type":"object","description":"红包入参","properties":{"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"blessing":{"type":"string","description":"祝福"},"imprest_code":{"type":"string","description":"预付款编号"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"},"receive_num":{"type":"integer","description":"已领取的数量"},"status":{"type":"integer","description":"0.未生效  1.已生效 2.已领取完毕 3.已过期  -1. 本人已领取"},"create_time":{"type":"string","description":"创建时间"},"finished_time":{"type":"string","description":"红包完成时间"}}}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpackets/{redpacket_no}/receive":{"post":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"领取红包","operationId":"RedpacketReceive","description":"领取红包\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"redpacket_no","in":"path","description":"红包编号","required":true,"type":"string"},{"name":"body","in":"body","description":"输入对象","required":true,"schema":{"type":"object","description":"领取红包输入","properties":{"scene_id":{"type":"string","description":"场景ID 如果是群聊那么就是群open_id 如果是单聊就是用户open_id"},"scene_type":{"type":"string","description":"场景类型 1.单聊 2.群聊"},"receive_nickname":{"type":"string","description":"领取人昵称"}}}}],"tags":["redpackets"],"responses":{"200":{"description":"返回","schema":{"type":"object","description":"红包记录","properties":{"id":{"type":"integer","description":"id"},"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"receive_open_id":{"type":"string","description":"领取人open_id"},"receive_nickname":{"type":"string","description":"领取人昵称"},"scene_id":{"type":"string","description":"场景ID"},"scene_type":{"type":"string","description":"场景类型 1.单聊 2.群聊"},"remark":{"type":"string","description":"备注"},"create_time":{"type":"string","description":"创建时间"},"is_luck":{"type":"integer","description":"是否是最佳手气 0.否 1.是"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpackets/{redpacket_no}":{"get":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"获取红包信息","operationId":"RedpacketGet","description":"获取红包信息\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"redpacket_no","in":"path","description":"红包编号","required":true,"type":"string"}],"tags":["redpackets"],"responses":{"200":{"description":"返回","schema":{"allOf":[{"type":"object","description":"红包入参","properties":{"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"blessing":{"type":"string","description":"祝福"},"imprest_code":{"type":"string","description":"预付款编号"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"},"receive_num":{"type":"integer","description":"已领取的数量"},"status":{"type":"integer","description":"0.未生效  1.已生效 2.已领取完毕 3.已过期  -1. 本人已领取"},"create_time":{"type":"string","description":"创建时间"},"finished_time":{"type":"string","description":"红包完成时间"}}},{"type":"object","properties":{"receive_amount":{"type":"number","description":"领取金额"},"finished_spend":{"type":"integer","description":"完成领取花费的时间(单位秒)"}}}]}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpackets/{redpacket_no}/records":{"get":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"红包领取记录列表","operationId":"RedpacketRecordList","description":"红包领取记录列表\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"redpacket_no","in":"path","description":"红包编号","required":true,"type":"string"}],"tags":["redpackets"],"responses":{"200":{"description":"返回","schema":{"type":"array","items":{"type":"object","description":"红包记录","properties":{"id":{"type":"integer","description":"id"},"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"receive_open_id":{"type":"string","description":"领取人open_id"},"receive_nickname":{"type":"string","description":"领取人昵称"},"scene_id":{"type":"string","description":"场景ID"},"scene_type":{"type":"string","description":"场景类型 1.单聊 2.群聊"},"remark":{"type":"string","description":"备注"},"create_time":{"type":"string","description":"创建时间"},"is_luck":{"type":"integer","description":"是否是最佳手气 0.否 1.是"}}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpackets/{redpacket_no}/records/{id}":{"put":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"修改红包记录（备注）","operationId":"RedpacketRecordUpdate","description":"修改红包记录（备注）\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"redpacket_no","in":"path","description":"红包编号","required":true,"type":"string"},{"name":"id","in":"path","description":"记录ID","required":true,"type":"string"},{"name":"body","in":"body","description":"body对象","required":true,"schema":{"type":"object","description":"记录修改","properties":{"remark":{"type":"string","description":"备注"}}}}],"tags":["redpacketrecords"],"responses":{"200":{"description":"返回","schema":{"type":"array","items":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpacketrecord/statistics":{"get":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"我收到的红包统计信息","operationId":"RedpacketRecordStatistics","description":"我收到的红包统计信息\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"year","in":"query","description":"年份 格式 yyyy 例如2017","required":true,"type":"string"}],"tags":["redpacketrecords"],"responses":{"200":{"description":"返回","schema":{"type":"object","description":"红包统计信息","properties":{"num":{"type":"integer","description":"红包数量"},"amount":{"type":"integer","description":"总金额"},"luck_num":{"type":"integer","description":"最佳手气数量"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpacketrecord/in":{"get":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"分页查询收到的红包记录","operationId":"RedpacketRecordPage","description":"分页查询收到的红包记录\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"year","in":"query","description":"年份 格式 yyyy 例如2017 默认为今年","required":false,"type":"string"},{"name":"page_index","in":"query","description":"页码","required":false,"type":"integer"},{"name":"page_size","in":"query","description":"页大小","required":false,"type":"integer"}],"tags":["redpacketrecords"],"responses":{"200":{"description":"返回","schema":{"type":"object","description":"红包记录","properties":{"page_index":{"type":"integer","description":"页码"},"page_size":{"type":"integer","description":"页大小"},"data":{"type":"object","description":"红包记录","properties":{"id":{"type":"integer","description":"id"},"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"receive_open_id":{"type":"string","description":"领取人open_id"},"receive_nickname":{"type":"string","description":"领取人昵称"},"scene_id":{"type":"string","description":"场景ID"},"scene_type":{"type":"string","description":"场景类型 1.单聊 2.群聊"},"remark":{"type":"string","description":"备注"},"create_time":{"type":"string","description":"创建时间"},"is_luck":{"type":"integer","description":"是否是最佳手气 0.否 1.是"}}}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpacket/statistics":{"get":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"发出红包统计","operationId":"RedpacketStatisticsGet","description":"发出红包统计\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"year","in":"query","description":"年份 格式 yyyy 例如2017 默认为今年","required":false,"type":"string"}],"tags":["redpackets"],"responses":{"200":{"description":"返回","schema":{"type":"object","description":"红包统计","properties":{"num":{"type":"integer","description":"红包数量"},"amount":{"type":"integer","description":"总金额"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpacket/out":{"get":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"分页查询发出的红包（发出去的）","operationId":"RedpacketPage","description":"分页查询发出的红包（发出去的）\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"year","in":"query","description":"年份 格式 yyyy 例如2017 默认为今年","required":false,"type":"string"},{"name":"page_index","in":"query","description":"页码","required":false,"type":"integer"},{"name":"page_size","in":"query","description":"页大小","required":false,"type":"integer"}],"tags":["redpackets"],"responses":{"200":{"description":"返回","schema":{"type":"object","description":"红包记录","properties":{"page_index":{"type":"integer","description":"页码"},"page_size":{"type":"integer","description":"页大小"},"data":{"type":"object","description":"红包入参","properties":{"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"blessing":{"type":"string","description":"祝福"},"imprest_code":{"type":"string","description":"预付款编号"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"},"receive_num":{"type":"integer","description":"已领取的数量"},"status":{"type":"integer","description":"0.未生效  1.已生效 2.已领取完毕 3.已过期  -1. 本人已领取"},"create_time":{"type":"string","description":"创建时间"},"finished_time":{"type":"string","description":"红包完成时间"}}}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}},"/users/{open_id}/redpacket/years":{"get":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"红包年份选择","operationId":"RedpacketYears","description":"红包年份选择\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"}],"tags":["redpackets"],"responses":{"200":{"description":"返回","schema":{"type":"array","items":{"type":"string"}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}}}},"definitions":{"RedpacketStatistics":{"type":"object","description":"红包统计","properties":{"num":{"type":"integer","description":"红包数量"},"amount":{"type":"integer","description":"总金额"}}},"RedpacketRecordStatistics":{"type":"object","description":"红包统计信息","properties":{"num":{"type":"integer","description":"红包数量"},"amount":{"type":"integer","description":"总金额"},"luck_num":{"type":"integer","description":"最佳手气数量"}}},"RedpacketRecordUpdateInput":{"type":"object","description":"记录修改","properties":{"remark":{"type":"string","description":"备注"}}},"RedpacketPage":{"type":"object","description":"红包记录","properties":{"page_index":{"type":"integer","description":"页码"},"page_size":{"type":"integer","description":"页大小"},"data":{"type":"object","description":"红包入参","properties":{"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"blessing":{"type":"string","description":"祝福"},"imprest_code":{"type":"string","description":"预付款编号"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"},"receive_num":{"type":"integer","description":"已领取的数量"},"status":{"type":"integer","description":"0.未生效  1.已生效 2.已领取完毕 3.已过期  -1. 本人已领取"},"create_time":{"type":"string","description":"创建时间"},"finished_time":{"type":"string","description":"红包完成时间"}}}}},"RedpacketRecordPage":{"type":"object","description":"红包记录","properties":{"page_index":{"type":"integer","description":"页码"},"page_size":{"type":"integer","description":"页大小"},"data":{"type":"object","description":"红包记录","properties":{"id":{"type":"integer","description":"id"},"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"receive_open_id":{"type":"string","description":"领取人open_id"},"receive_nickname":{"type":"string","description":"领取人昵称"},"scene_id":{"type":"string","description":"场景ID"},"scene_type":{"type":"string","description":"场景类型 1.单聊 2.群聊"},"remark":{"type":"string","description":"备注"},"create_time":{"type":"string","description":"创建时间"},"is_luck":{"type":"integer","description":"是否是最佳手气 0.否 1.是"}}}}},"RedpacketReceiveInput":{"type":"object","description":"领取红包输入","properties":{"scene_id":{"type":"string","description":"场景ID 如果是群聊那么就是群open_id 如果是单聊就是用户open_id"},"scene_type":{"type":"string","description":"场景类型 1.单聊 2.群聊"},"receive_nickname":{"type":"string","description":"领取人昵称"}}},"RedpacketRecord":{"type":"object","description":"红包记录","properties":{"id":{"type":"integer","description":"id"},"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"receive_open_id":{"type":"string","description":"领取人open_id"},"receive_nickname":{"type":"string","description":"领取人昵称"},"scene_id":{"type":"string","description":"场景ID"},"scene_type":{"type":"string","description":"场景类型 1.单聊 2.群聊"},"remark":{"type":"string","description":"备注"},"create_time":{"type":"string","description":"创建时间"},"is_luck":{"type":"integer","description":"是否是最佳手气 0.否 1.是"}}},"RedPacketPayResult":{"type":"object","description":"红包入参","properties":{"pay":{"type":"object","description":"预付款结果","properties":{"pay_type":{"type":"integer","description":"支付类型 0.支付宝 1.微信"},"trade_no":{"type":"string","description":"交易号"},"body":{"type":"string","description":"第三方支付的相关数据"}}},"redpacket":{"type":"object","description":"红包入参","properties":{"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"blessing":{"type":"string","description":"祝福"},"imprest_code":{"type":"string","description":"预付款编号"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"},"receive_num":{"type":"integer","description":"已领取的数量"},"status":{"type":"integer","description":"0.未生效  1.已生效 2.已领取完毕 3.已过期  -1. 本人已领取"},"create_time":{"type":"string","description":"创建时间"},"finished_time":{"type":"string","description":"红包完成时间"}}}}},"RedpacketGetResult":{"allOf":[{"type":"object","description":"红包入参","properties":{"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"blessing":{"type":"string","description":"祝福"},"imprest_code":{"type":"string","description":"预付款编号"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"},"receive_num":{"type":"integer","description":"已领取的数量"},"status":{"type":"integer","description":"0.未生效  1.已生效 2.已领取完毕 3.已过期  -1. 本人已领取"},"create_time":{"type":"string","description":"创建时间"},"finished_time":{"type":"string","description":"红包完成时间"}}},{"type":"object","properties":{"receive_amount":{"type":"number","description":"领取金额"},"finished_spend":{"type":"integer","description":"完成领取花费的时间(单位秒)"}}}]},"Redpacket":{"type":"object","description":"红包入参","properties":{"app_id":{"type":"string","description":"app id"},"open_id":{"type":"string","description":"创建者open_id"},"nickname":{"type":"string","description":"创建者昵称"},"redpacket_no":{"type":"string","description":"红包编号"},"amount":{"type":"number","description":"红包金额"},"balance":{"type":"number","description":"余额"},"blessing":{"type":"string","description":"祝福"},"imprest_code":{"type":"string","description":"预付款编号"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"},"receive_num":{"type":"integer","description":"已领取的数量"},"status":{"type":"integer","description":"0.未生效  1.已生效 2.已领取完毕 3.已过期  -1. 本人已领取"},"create_time":{"type":"string","description":"创建时间"},"finished_time":{"type":"string","description":"红包完成时间"}}},"RedpacketInput":{"type":"object","description":"红包入参","properties":{"nickname":{"type":"string","description":"创建者昵称"},"amount":{"type":"number","description":"红包金额"},"blessing":{"type":"string","description":"祝福语"},"type":{"type":"integer","description":"红包类型 1.定额红包 2.随机红包"},"num":{"type":"integer","description":"红包数量"}}},"PayWrap":{"type":"object","description":"预付款结果","properties":{"pay_type":{"type":"integer","description":"支付类型 0.支付宝 1.微信"},"trade_no":{"type":"string","description":"交易号"},"body":{"type":"string","description":"第三方支付的相关数据"}}},"Error":{"type":"object","properties":{"err_code":{"type":"integer"},"err_msg":{"type":"string"}}}}}