swagger: '2.0'
info:
  title: 支付服务
  description: 支付服务
  version: 2.0.0
host: payv2api.qiyunxin.com
schemes:
  - http
tags:
  - name: account
    description: 账户
  - name: imprest
    description: 预付款
  - name: pay
    description: 付款
  - name: trades
    description: 交易
basePath: /v2
securityDefinitions:
  app_id:
    type: apiKey
    in: header
    name: app_id
    description: 应用ID
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: 用户token
  sign:
    type: apiKey
    in: header
    name: sign
    description: 签名
  noncestr:
    type: apiKey
    in: header
    name: noncestr
    description: 签名
  timestamp:
    type: apiKey
    in: header
    name: timestamp
    description: 签名
produces:
  - application/json
paths:
  /trades:
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取交易信息（管理员权限）
      operationId: TradesPage
      description: |
        获取交易信息（管理员权限）
      parameters:
        - name: pay_type
          in: query
          description: 支付类型
          required: false
          type: string
        - name: out_trade_type
          in: query
          description: 第三方支付类型
          required: false
          type: string
        - name: keyword
          in: query
          description: 搜索关键字
          required: false
          type: string
        - name: trade_no
          in: query
          description: 交易编号
          required: false
          type: string
        - name: amount
          in: query
          description: 交易金额
          required: false
          type: string
        - name: status
          in: query
          description: 交易状态
          required: false
          type: string
        - name: start_time
          in: query
          description: 开始时间
          required: false
          type: string
        - name: end_time
          in: query
          description: 结束时间
          required: false
          type: string
        - name: page_index
          in: query
          description: 查询页码
          required: false
          type: integer
        - name: page_size
          in: query
          description: 查询数量
          required: false
          type: integer
      tags:
        - trades
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              page_index:
                type: number
                description: 当前页码
              page_size:
                type: number
                description: 每页大小
              total:
                type: number
                description: 总共数据
              data:
                type: array
                description: 用户数据
                items:
                  type: object
                  description: 交易对象
                  properties:
                    id:
                      type: integer
                      description: id
                    app_id:
                      type: string
                      description: 应用ID
                    open_id:
                      type: string
                      description: 用户ID
                    username:
                      type: string
                      description: 用户名
                    name:
                      type: string
                      description: 昵称
                    user_unique_key:
                      type: string
                      description: 用户唯一标识
                    title:
                      type: string
                      description: 标题
                    remark:
                      type: string
                      description: 备注
                    trade_no:
                      type: string
                      description: 交易号
                    out_trade_no:
                      type: string
                      description: 第三方交易号
                    out_trade_type:
                      type: string
                      description: 第三方交易类型
                    memo:
                      type: string
                      description: 备用数据
                    imprest_code:
                      type: string
                      description: 预付款编号
                    notify_url:
                      type: string
                      description: 通知URL
                    notify_status:
                      type: integer
                      description: 通知状态(1.通知成功 0.等待通知 2.通知失败)
                    pay_type:
                      type: integer
                      description: 支付类型 1.支付宝 2.微信 4.账户支付  99.自定义
                    amount:
                      type: integer
                      description: 金额
                    client_ip:
                      type: string
                      description: 客户端IP
                    status:
                      type: integer
                      description: 状态 1.交易成功 0.待交易 2.交易错误
                    ext:
                      type: string
                      description: 扩展数据
                    create_time:
                      type: string
                      description: 创建时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/trades/{trade_no}/ok':
    post:
      summary: '确认交易（用于第三方支付对接）,此接口有IP白名单限制'
      description: |
        确认交易（用于第三方支付对接）,此接口有IP白名单限制
      parameters:
        - name: trade_no
          in: path
          description: 交易编号
          required: true
          type: string
      tags:
        - trades
      responses:
        '200':
          description: 返回
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprest/users/{open_id}/make':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 制作预付款
      description: |
        制作预付款
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: imprest
          in: body
          description: 预付款数据
          required: true
          schema:
            type: object
            description: 预付款参数
            properties:
              ticket_id:
                type: string
                description: 唯一ID
              open_id:
                type: string
                description: 用户ID
              out_trade_no:
                type: string
                description: 第三方订单号
              opr_open_ids:
                type: string
                description: '可以操作的人的ID集合例如: 1223,343545,4545'
              amount:
                type: integer
                format: int64
                description: 预付款金额
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              ext:
                type: string
                description: 扩展数据
      tags:
        - imprest
      responses:
        '200':
          description: 获取商品列表
          schema:
            type: object
            description: 预付款对象
            properties:
              id:
                type: integer
                description: ID
              app_id:
                type: string
                description: 应用ID
              ticket_id:
                type: string
                description: 唯一ID
              username:
                type: string
                description: 用户名
              name:
                type: string
                description: 昵称
              user_unique_key:
                type: string
                description: 用户唯一性标识
              imprest_code:
                type: string
                description: 预付款代码
              out_trade_no:
                type: string
                description: 第三方订单号
              opr_open_ids:
                type: string
                description: '可以操作的人的ID集合例如: 1223,343545,4545'
              amount:
                type: integer
                format: int64
                description: 预付款金额
              balance:
                type: integer
                format: int64
                description: 余额
              status:
                type: integer
                description: 状态 1.进行中 0.等待生效 2.完成  -1.异常
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              ext:
                type: string
                description: 扩展数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprest/users/{open_id}/pay':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 支付预付款
      description: |
        支付预付款
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 交易对象
          required: true
          schema:
            type: object
            description: 交易对象
            properties:
              open_id:
                type: string
                description: 用户ID
              store_no:
                type: string
                description: 店铺编号（如果填写了店铺编号将使用店铺的微信支付设置）
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              out_trade_no:
                type: string
                description: 第三方交易号
              out_trade_type:
                type: string
                description: 第三方交易类型
              memo:
                type: string
                description: 备用数据
              imprest_code:
                type: string
                description: 预付款编号
              notify_url:
                type: string
                description: 通知URL
              return_url:
                type: string
                description: 付款成功后跳转的URL（WEB支付使用）
              wx_open_id:
                type: string
                description: 微信OpenId
              pay_type:
                type: integer
                description: 支付类型 1.支付宝 2.微信 4.账户支付  99.自定义
              client_ip:
                type: string
                description: 客户端IP
              client_type:
                type: integer
                description: '客户端类型 0,1手机端 2.web'
              version:
                type: integer
                description: '0, 1.0'
              ext:
                type: string
                description: 扩展数据
      tags:
        - imprest
      responses:
        '200':
          description: 交易对象
          schema:
            type: object
            description: 预付款结果
            properties:
              pay_type:
                type: integer
                description: 支付类型 1.支付宝 2.微信 4.账户支付  99.自定义
              trade_no:
                type: string
                description: 交易号
              body:
                type: string
                description: 第三方支付的相关数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprest/users/{open_id}/fetch':
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 领取预付款
      description: |
        领取预付款
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 领取预付款
          required: true
          schema:
            type: object
            description: 领取预付款DTO
            properties:
              ticket_id:
                type: string
                description: 唯一ID
              open_id:
                type: string
                description: 领取人
              imprest_code:
                type: string
                description: 预付款代号
              amount:
                type: integer
                format: int64
                description: 领取金额 为0的话 默认领完预付款金额
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              ext:
                type: string
                description: 扩展数据
      tags:
        - imprest
      responses:
        '200':
          description: 交易对象
          schema:
            type: object
            description: 预付款结果
            properties:
              imprest_record_id:
                type: integer
                format: int64
                description: 预付款记录ID
              ticket_id:
                type: string
                description: 唯一ID
              open_id:
                type: string
                description: 领取人
              amount:
                type: integer
                description: 领取金额
              app_id:
                type: string
                description: appid
              imprest_code:
                type: string
                description: 预付款代号
              ext:
                type: string
                description: 扩展数据
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprest/users/{open_id}/refund':
    post:
      summary: 退款预付款(白名单权限)
      operationId: RefundImprest2
      description: |
        退款预付款(白名单权限)
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: body
          in: body
          description: 退款预付款
          required: true
          schema:
            type: object
            description: 交易退款输入参数
            properties:
              opr_open_id:
                type: string
                description: 操作用户open_id
              title:
                type: string
                description: 标题
              trade_no:
                type: string
                description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
              imprest_code:
                type: string
                description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
              out_trade_no:
                type: string
                description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
              out_refund_no:
                type: string
                description: 第三方退款单号（第三方的退款单号，唯一）
              refund_type:
                type: integer
                format: int
                description: 退款方式(1.支付宝 2.微信 4.账户支付)
              refund_amount:
                type: integer
                description: 退款金额
              refund_desc:
                type: string
                description: 退款原因
              client_ip:
                type: string
                description: 客户端IP
              client_type:
                type: integer
                description: '客户端类型 0,1手机端 2.web端'
              flag:
                type: string
                description: flag
              ext:
                type: string
                description: 扩展数据
      tags:
        - imprest
      responses:
        '200':
          description: 退款对象
          schema:
            allOf:
              - type: object
                description: 交易退款
                properties:
                  app_id:
                    type: string
                    description: app id
                  title:
                    type: string
                    description: 标题
                  opr_open_id:
                    type: string
                    description: 操作人open_id
                  open_id:
                    type: string
                    description: 用户openID
                  trade_no:
                    type: string
                    description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
                  imprest_code:
                    type: string
                    description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
                  out_trade_no:
                    type: string
                    description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
                  out_refund_no:
                    type: string
                    description: 第三方退款单号（第三方的退款单号，唯一）
                  refund_amount:
                    type: integer
                    description: 退款金额
                  refund_desc:
                    type: string
                    description: 退款原因
                  refund_no:
                    type: string
                    description: 客户端IP
                  refund_type:
                    type: integer
                    description: 退款方式(1.支付宝 2.微信 4.账户支付)
                  status:
                    type: integer
                    description: 状态 0.未生效 1.已生效
              - type: object
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprest/users/{open_id}/records':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 预付款记录列表查询
      operationId: ImprestRecordPage
      description: |
        预付款记录列表查询
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: flag
          in: query
          description: 标记
          required: false
          type: string
        - name: time
          in: query
          description: 时间（格式2017-08）
          required: false
          type: string
        - name: page_index
          in: query
          description: 页码
          required: false
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: false
          type: integer
      tags:
        - imprest
      responses:
        '200':
          description: 返回结果
          schema:
            type: array
            items:
              type: object
              description: 预付款记录
              properties:
                id:
                  type: integer
                  description: ID
                app_id:
                  type: string
                  description: app_id
                ticket_id:
                  type: string
                  description: 唯一ID
                open_id:
                  type: string
                  description: 预付款拥有者ID
                username:
                  type: string
                  description: 用户名
                name:
                  type: string
                  description: 昵称
                user_unique_key:
                  type: string
                  description: 用户唯一标识
                imprest_code:
                  type: string
                  description: 预付款代号
                opr_open_id:
                  type: string
                  description: 领取人的ID
                changed_amount:
                  type: integer
                  description: 变动金额
                balance:
                  type: integer
                  description: 余额
                title:
                  type: string
                  description: 标题
                remark:
                  type: string
                  description: 备注
                flag:
                  type: string
                  description: 标记
                ext:
                  type: string
                  description: 扩展数据
                create_time:
                  type: string
                  description: 创建时间
                update_time:
                  type: string
                  description: 更新时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取账户信息
      description: |
        获取账户信息
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
      tags:
        - account
      responses:
        '200':
          description: 账户信息
          schema:
            type: object
            description: 账户信息
            properties:
              id:
                type: integer
                format: int64
                description: id
              open_id:
                type: string
                description: 用户ID
              amount:
                type: integer
                format: int64
                description: 账户余额
              status:
                type: integer
                description: 账户状态 1.可用 0.不可用
              flag:
                type: string
                description: 标记
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/record':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取账户记录列表
      description: |
        获取账户记录列表
      parameters:
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
        - name: title
          in: query
          description: 标题
          required: true
          type: string
        - name: page_index
          in: query
          description: 页码
          required: false
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: false
          type: integer
      tags:
        - account
      responses:
        '200':
          description: 账户信息
          schema:
            type: array
            items:
              type: object
              description: 账户记录
              properties:
                app_id:
                  type: string
                  description: app id
                open_id:
                  type: string
                  description: 用户ID
                ticket_id:
                  type: string
                  description: 预付款唯一ID(幂等ID)
                imprest_record_id:
                  type: integer
                  description: 预付款记录ID
                imprest_code:
                  type: string
                  description: 预付款code
                account_id:
                  type: integer
                  format: int64
                  description: 账户ID
                changed_amount:
                  type: integer
                  format: int64
                  description: 变动金额
                balance:
                  type: integer
                  format: int64
                  description: 账户余额
                title:
                  type: string
                  description: 标题
                remark:
                  type: string
                  description: 备注
                create_time:
                  type: string
                  description: 创建时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/useraccounts/{open_id}/imprestrecord/{id}':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 通过预付款记录ID获取账户记录
      description: |
        通过预付款记录ID获取账户记录
      parameters:
        - name: id
          in: path
          description: 预付款记录ID
          required: true
          type: integer
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
      tags:
        - account
      responses:
        '200':
          description: 账户记录
          schema:
            type: object
            description: 账户记录
            properties:
              app_id:
                type: string
                description: app id
              open_id:
                type: string
                description: 用户ID
              ticket_id:
                type: string
                description: 预付款唯一ID(幂等ID)
              imprest_record_id:
                type: integer
                description: 预付款记录ID
              imprest_code:
                type: string
                description: 预付款code
              account_id:
                type: integer
                format: int64
                description: 账户ID
              changed_amount:
                type: integer
                format: int64
                description: 变动金额
              balance:
                type: integer
                format: int64
                description: 账户余额
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              create_time:
                type: string
                description: 创建时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  /imprestrecords:
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 预付款记录列表查询（管理员）
      operationId: ImprestRecordPageForManager
      description: |
        预付款记录列表查询（管理员）
      parameters:
        - name: page_index
          in: query
          description: 页码
          required: false
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: false
          type: integer
        - name: changed_amount
          in: query
          description: 交易金额
          required: false
          type: string
        - name: title
          in: query
          description: 交易类型
          required: false
          type: string
        - name: keyword
          in: query
          description: 关键字（昵称或手机号）
          required: false
          type: string
        - name: start_time
          in: query
          description: 开始时间
          required: false
          type: string
        - name: end_time
          in: query
          description: 结束时间
          required: false
          type: string
      tags:
        - imprest
      responses:
        '200':
          description: 返回结果
          schema:
            type: object
            properties:
              page_index:
                type: number
                description: 当前页码
              page_size:
                type: number
                description: 每页大小
              total:
                type: number
                description: 总共数据
              data:
                type: array
                description: 用户数据
                items:
                  type: object
                  description: 预付款记录
                  properties:
                    id:
                      type: integer
                      description: ID
                    app_id:
                      type: string
                      description: app_id
                    ticket_id:
                      type: string
                      description: 唯一ID
                    open_id:
                      type: string
                      description: 预付款拥有者ID
                    username:
                      type: string
                      description: 用户名
                    name:
                      type: string
                      description: 昵称
                    user_unique_key:
                      type: string
                      description: 用户唯一标识
                    imprest_code:
                      type: string
                      description: 预付款代号
                    opr_open_id:
                      type: string
                      description: 领取人的ID
                    changed_amount:
                      type: integer
                      description: 变动金额
                    balance:
                      type: integer
                      description: 余额
                    title:
                      type: string
                      description: 标题
                    remark:
                      type: string
                      description: 备注
                    flag:
                      type: string
                      description: 标记
                    ext:
                      type: string
                      description: 扩展数据
                    create_time:
                      type: string
                      description: 创建时间
                    update_time:
                      type: string
                      description: 更新时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
  '/imprestrecords/{id}/users/{open_id}':
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 预付款记录查询
      description: |
        预付款记录查询
      parameters:
        - name: id
          in: path
          description: 预付款记录ID
          required: true
          type: integer
        - name: open_id
          in: path
          description: 用户ID
          required: true
          type: string
      tags:
        - imprest
      responses:
        '200':
          description: 账户信息
          schema:
            type: object
            description: 预付款记录
            properties:
              id:
                type: integer
                description: ID
              app_id:
                type: string
                description: app_id
              ticket_id:
                type: string
                description: 唯一ID
              open_id:
                type: string
                description: 预付款拥有者ID
              username:
                type: string
                description: 用户名
              name:
                type: string
                description: 昵称
              user_unique_key:
                type: string
                description: 用户唯一标识
              imprest_code:
                type: string
                description: 预付款代号
              opr_open_id:
                type: string
                description: 领取人的ID
              changed_amount:
                type: integer
                description: 变动金额
              balance:
                type: integer
                description: 余额
              title:
                type: string
                description: 标题
              remark:
                type: string
                description: 备注
              flag:
                type: string
                description: 标记
              ext:
                type: string
                description: 扩展数据
              create_time:
                type: string
                description: 创建时间
              update_time:
                type: string
                description: 更新时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
definitions:
  TradesRefundResult:
    allOf:
      - type: object
        description: 交易退款
        properties:
          app_id:
            type: string
            description: app id
          title:
            type: string
            description: 标题
          opr_open_id:
            type: string
            description: 操作人open_id
          open_id:
            type: string
            description: 用户openID
          trade_no:
            type: string
            description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
          imprest_code:
            type: string
            description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
          out_trade_no:
            type: string
            description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
          out_refund_no:
            type: string
            description: 第三方退款单号（第三方的退款单号，唯一）
          refund_amount:
            type: integer
            description: 退款金额
          refund_desc:
            type: string
            description: 退款原因
          refund_no:
            type: string
            description: 客户端IP
          refund_type:
            type: integer
            description: 退款方式(1.支付宝 2.微信 4.账户支付)
          status:
            type: integer
            description: 状态 0.未生效 1.已生效
      - type: object
  TradesRefundInput:
    type: object
    description: 交易退款输入参数
    properties:
      opr_open_id:
        type: string
        description: 操作用户open_id
      title:
        type: string
        description: 标题
      trade_no:
        type: string
        description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
      imprest_code:
        type: string
        description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
      out_trade_no:
        type: string
        description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
      out_refund_no:
        type: string
        description: 第三方退款单号（第三方的退款单号，唯一）
      refund_type:
        type: integer
        format: int
        description: 退款方式(1.支付宝 2.微信 4.账户支付)
      refund_amount:
        type: integer
        description: 退款金额
      refund_desc:
        type: string
        description: 退款原因
      client_ip:
        type: string
        description: 客户端IP
      client_type:
        type: integer
        description: '客户端类型 0,1手机端 2.web端'
      flag:
        type: string
        description: flag
      ext:
        type: string
        description: 扩展数据
  TradesRefund:
    type: object
    description: 交易退款
    properties:
      app_id:
        type: string
        description: app id
      title:
        type: string
        description: 标题
      opr_open_id:
        type: string
        description: 操作人open_id
      open_id:
        type: string
        description: 用户openID
      trade_no:
        type: string
        description: 交易号（交易号，预付款编号或第三方交易号三个必须传一个）
      imprest_code:
        type: string
        description: 预付款号（交易号，预付款编号或第三方交易号三个必须传一个）
      out_trade_no:
        type: string
        description: 第三方系统中的交易号 （交易号，预付款编号或第三方交易号三个必须传一个）
      out_refund_no:
        type: string
        description: 第三方退款单号（第三方的退款单号，唯一）
      refund_amount:
        type: integer
        description: 退款金额
      refund_desc:
        type: string
        description: 退款原因
      refund_no:
        type: string
        description: 客户端IP
      refund_type:
        type: integer
        description: 退款方式(1.支付宝 2.微信 4.账户支付)
      status:
        type: integer
        description: 状态 0.未生效 1.已生效
  ImprestRecordId:
    type: object
    description: 预付款记录ID
    properties:
      imprest_record_id:
        type: integer
        format: int6
        description: 预付款记录ID
  ImprestRefundInput:
    type: object
    description: 预付款退款输入参数
    properties:
      imprest_code:
        type: string
        description: 预付款code
      name:
        type: string
        description: 用户名称（非必填）
      remark:
        type: string
        description: 备注
      flag:
        type: string
        description: flag
      ext:
        type: string
        description: 扩展数据
  AccountRecord:
    type: object
    description: 账户记录
    properties:
      app_id:
        type: string
        description: app id
      open_id:
        type: string
        description: 用户ID
      ticket_id:
        type: string
        description: 预付款唯一ID(幂等ID)
      imprest_record_id:
        type: integer
        description: 预付款记录ID
      imprest_code:
        type: string
        description: 预付款code
      account_id:
        type: integer
        format: int64
        description: 账户ID
      changed_amount:
        type: integer
        format: int64
        description: 变动金额
      balance:
        type: integer
        format: int64
        description: 账户余额
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      create_time:
        type: string
        description: 创建时间
  Account:
    type: object
    description: 账户信息
    properties:
      id:
        type: integer
        format: int64
        description: id
      open_id:
        type: string
        description: 用户ID
      amount:
        type: integer
        format: int64
        description: 账户余额
      status:
        type: integer
        description: 账户状态 1.可用 0.不可用
      flag:
        type: string
        description: 标记
  PayWrap:
    type: object
    description: 预付款结果
    properties:
      pay_type:
        type: integer
        description: 支付类型 1.支付宝 2.微信 4.账户支付  99.自定义
      trade_no:
        type: string
        description: 交易号
      body:
        type: string
        description: 第三方支付的相关数据
  FetchImprestResult:
    type: object
    description: 预付款结果
    properties:
      imprest_record_id:
        type: integer
        format: int64
        description: 预付款记录ID
      ticket_id:
        type: string
        description: 唯一ID
      open_id:
        type: string
        description: 领取人
      amount:
        type: integer
        description: 领取金额
      app_id:
        type: string
        description: appid
      imprest_code:
        type: string
        description: 预付款代号
      ext:
        type: string
        description: 扩展数据
  FetchImprestDto:
    type: object
    description: 领取预付款DTO
    properties:
      ticket_id:
        type: string
        description: 唯一ID
      open_id:
        type: string
        description: 领取人
      imprest_code:
        type: string
        description: 预付款代号
      amount:
        type: integer
        format: int64
        description: 领取金额 为0的话 默认领完预付款金额
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      ext:
        type: string
        description: 扩展数据
  ImprestRecordPage:
    type: object
    properties:
      page_index:
        type: number
        description: 当前页码
      page_size:
        type: number
        description: 每页大小
      total:
        type: number
        description: 总共数据
      data:
        type: array
        description: 用户数据
        items:
          type: object
          description: 预付款记录
          properties:
            id:
              type: integer
              description: ID
            app_id:
              type: string
              description: app_id
            ticket_id:
              type: string
              description: 唯一ID
            open_id:
              type: string
              description: 预付款拥有者ID
            username:
              type: string
              description: 用户名
            name:
              type: string
              description: 昵称
            user_unique_key:
              type: string
              description: 用户唯一标识
            imprest_code:
              type: string
              description: 预付款代号
            opr_open_id:
              type: string
              description: 领取人的ID
            changed_amount:
              type: integer
              description: 变动金额
            balance:
              type: integer
              description: 余额
            title:
              type: string
              description: 标题
            remark:
              type: string
              description: 备注
            flag:
              type: string
              description: 标记
            ext:
              type: string
              description: 扩展数据
            create_time:
              type: string
              description: 创建时间
            update_time:
              type: string
              description: 更新时间
  ImprestRecord:
    type: object
    description: 预付款记录
    properties:
      id:
        type: integer
        description: ID
      app_id:
        type: string
        description: app_id
      ticket_id:
        type: string
        description: 唯一ID
      open_id:
        type: string
        description: 预付款拥有者ID
      username:
        type: string
        description: 用户名
      name:
        type: string
        description: 昵称
      user_unique_key:
        type: string
        description: 用户唯一标识
      imprest_code:
        type: string
        description: 预付款代号
      opr_open_id:
        type: string
        description: 领取人的ID
      changed_amount:
        type: integer
        description: 变动金额
      balance:
        type: integer
        description: 余额
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      flag:
        type: string
        description: 标记
      ext:
        type: string
        description: 扩展数据
      create_time:
        type: string
        description: 创建时间
      update_time:
        type: string
        description: 更新时间
  TradesParam:
    type: object
    description: 交易对象
    properties:
      open_id:
        type: string
        description: 用户ID
      store_no:
        type: string
        description: 店铺编号（如果填写了店铺编号将使用店铺的微信支付设置）
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      out_trade_no:
        type: string
        description: 第三方交易号
      out_trade_type:
        type: string
        description: 第三方交易类型
      memo:
        type: string
        description: 备用数据
      imprest_code:
        type: string
        description: 预付款编号
      notify_url:
        type: string
        description: 通知URL
      return_url:
        type: string
        description: 付款成功后跳转的URL（WEB支付使用）
      wx_open_id:
        type: string
        description: 微信OpenId
      pay_type:
        type: integer
        description: 支付类型 1.支付宝 2.微信 4.账户支付  99.自定义
      client_ip:
        type: string
        description: 客户端IP
      client_type:
        type: integer
        description: '客户端类型 0,1手机端 2.web'
      version:
        type: integer
        description: '0, 1.0'
      ext:
        type: string
        description: 扩展数据
  TradesPage:
    type: object
    properties:
      page_index:
        type: number
        description: 当前页码
      page_size:
        type: number
        description: 每页大小
      total:
        type: number
        description: 总共数据
      data:
        type: array
        description: 用户数据
        items:
          type: object
          description: 交易对象
          properties:
            id:
              type: integer
              description: id
            app_id:
              type: string
              description: 应用ID
            open_id:
              type: string
              description: 用户ID
            username:
              type: string
              description: 用户名
            name:
              type: string
              description: 昵称
            user_unique_key:
              type: string
              description: 用户唯一标识
            title:
              type: string
              description: 标题
            remark:
              type: string
              description: 备注
            trade_no:
              type: string
              description: 交易号
            out_trade_no:
              type: string
              description: 第三方交易号
            out_trade_type:
              type: string
              description: 第三方交易类型
            memo:
              type: string
              description: 备用数据
            imprest_code:
              type: string
              description: 预付款编号
            notify_url:
              type: string
              description: 通知URL
            notify_status:
              type: integer
              description: 通知状态(1.通知成功 0.等待通知 2.通知失败)
            pay_type:
              type: integer
              description: 支付类型 1.支付宝 2.微信 4.账户支付  99.自定义
            amount:
              type: integer
              description: 金额
            client_ip:
              type: string
              description: 客户端IP
            status:
              type: integer
              description: 状态 1.交易成功 0.待交易 2.交易错误
            ext:
              type: string
              description: 扩展数据
            create_time:
              type: string
              description: 创建时间
  Trades:
    type: object
    description: 交易对象
    properties:
      id:
        type: integer
        description: id
      app_id:
        type: string
        description: 应用ID
      open_id:
        type: string
        description: 用户ID
      username:
        type: string
        description: 用户名
      name:
        type: string
        description: 昵称
      user_unique_key:
        type: string
        description: 用户唯一标识
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      trade_no:
        type: string
        description: 交易号
      out_trade_no:
        type: string
        description: 第三方交易号
      out_trade_type:
        type: string
        description: 第三方交易类型
      memo:
        type: string
        description: 备用数据
      imprest_code:
        type: string
        description: 预付款编号
      notify_url:
        type: string
        description: 通知URL
      notify_status:
        type: integer
        description: 通知状态(1.通知成功 0.等待通知 2.通知失败)
      pay_type:
        type: integer
        description: 支付类型 1.支付宝 2.微信 4.账户支付  99.自定义
      amount:
        type: integer
        description: 金额
      client_ip:
        type: string
        description: 客户端IP
      status:
        type: integer
        description: 状态 1.交易成功 0.待交易 2.交易错误
      ext:
        type: string
        description: 扩展数据
      create_time:
        type: string
        description: 创建时间
  ImprestParam:
    type: object
    description: 预付款参数
    properties:
      ticket_id:
        type: string
        description: 唯一ID
      open_id:
        type: string
        description: 用户ID
      out_trade_no:
        type: string
        description: 第三方订单号
      opr_open_ids:
        type: string
        description: '可以操作的人的ID集合例如: 1223,343545,4545'
      amount:
        type: integer
        format: int64
        description: 预付款金额
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      ext:
        type: string
        description: 扩展数据
  Imprest:
    type: object
    description: 预付款对象
    properties:
      id:
        type: integer
        description: ID
      app_id:
        type: string
        description: 应用ID
      ticket_id:
        type: string
        description: 唯一ID
      username:
        type: string
        description: 用户名
      name:
        type: string
        description: 昵称
      user_unique_key:
        type: string
        description: 用户唯一性标识
      imprest_code:
        type: string
        description: 预付款代码
      out_trade_no:
        type: string
        description: 第三方订单号
      opr_open_ids:
        type: string
        description: '可以操作的人的ID集合例如: 1223,343545,4545'
      amount:
        type: integer
        format: int64
        description: 预付款金额
      balance:
        type: integer
        format: int64
        description: 余额
      status:
        type: integer
        description: 状态 1.进行中 0.等待生效 2.完成  -1.异常
      title:
        type: string
        description: 标题
      remark:
        type: string
        description: 备注
      ext:
        type: string
        description: 扩展数据
  Error:
    type: object
    properties:
      err_code:
        type: string
      err_msg:
        type: string
