swagger: '2.0'
info:
  description: 群组业务服务
  version: 1.0.0
  title: 群组业务服务
host: groupapi.qiyunxin.com
tags:
  - name: group
    description: 群组
  - name: group_members
    description: 群成员
  - name: group_audio
    description: 审核
  - name: group_search
    description: 搜索
schemes:
  - http
basePath: /v1
paths:
  '/users/{open_id}/groups':
    post:
      tags:
        - group
      summary: 创建群
      description: 创建群
      operationId: GroupsAdd
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: open_id
          in: path
          description: 用户OpenId
          required: true
          type: string
        - in: body
          name: groupinput
          description: 群输入数据
          required: true
          schema:
            type: object
            properties:
              group_name:
                type: string
                description: 群名称
              group_type:
                type: integer
                description: '群类型（1普通群,2企业/部门群,3经费群）'
              amount:
                type: integer
                description: 入群经费（普通群0）
              is_fund:
                type: integer
                description: 是否是经费群 0.否 1.是
              introduce:
                type: string
                description: 群简介
              members:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: 成员名称
                    open_id:
                      type: string
                      description: 成员OpenId
                    cust_id:
                      type: string
                      description: 成员聊天id
                    ext:
                      type: string
                      description: 扩展字段
      responses:
        '200':
          description: 创建成功
          schema:
            type: object
            properties:
              id:
                type: integer
                description: id
              app_id:
                type: string
                description: 应用id
              member_num:
                type: integer
                description: 成员数量
              max_member_num:
                type: integer
                description: 成员最大数量
              open_id:
                type: string
                description: 创建者OpenId
              status:
                type: integer
                description: 是否正常（0.不正常 1.正常）
              is_open:
                type: integer
                description: 是否开放成员邀请 0.否 1.是
              is_fund:
                type: integer
                description: 是否是经费群 0.否 1.是
              group_name:
                type: string
                description: 群名称
              group_no:
                type: string
                description: 群编号
              group_type:
                type: integer
                description: '群类型（1普通群,2企业/部门群,3经费群）'
              amount:
                type: integer
                description: 入群经费（普通群0）
              introduce:
                type: string
                description: 群简介
              create_time:
                type: string
                description: 创建时间
              update_time:
                type: string
                description: 修改时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
    get:
      tags:
        - group
      summary: 查询某个用户的群列表
      description: 查询某个用户的群列表
      operationId: GroupQueryList
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: query
          name: page_size
          description: 页码数量
          required: true
          type: integer
        - in: query
          name: page_index
          description: 页码
          required: true
          type: integer
      responses:
        '200':
          description: 查询成功
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: id
                app_id:
                  type: string
                  description: 应用id
                member_num:
                  type: integer
                  description: 成员数量
                max_member_num:
                  type: integer
                  description: 成员最大数量
                open_id:
                  type: string
                  description: 创建者OpenId
                status:
                  type: integer
                  description: 是否正常（0.不正常 1.正常）
                is_open:
                  type: integer
                  description: 是否开放成员邀请 0.否 1.是
                is_fund:
                  type: integer
                  description: 是否是经费群 0.否 1.是
                group_name:
                  type: string
                  description: 群名称
                group_no:
                  type: string
                  description: 群编号
                group_type:
                  type: integer
                  description: '群类型（1普通群,2企业/部门群,3经费群）'
                amount:
                  type: integer
                  description: 入群经费（普通群0）
                introduce:
                  type: string
                  description: 群简介
                create_time:
                  type: string
                  description: 创建时间
                update_time:
                  type: string
                  description: 修改时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/group/search':
    get:
      tags:
        - group_search
      summary: 搜索群
      description: 搜索群
      operationId: SearchGroups
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: open_id
          in: path
          description: 用户OpenId
          required: true
          type: string
        - name: page_index
          in: query
          description: 页码
          required: true
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: true
          type: integer
        - name: key_word
          in: query
          description: 关键字
          required: true
          type: string
      responses:
        '200':
          description: 查询结果
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: id
                app_id:
                  type: string
                  description: 应用id
                member_num:
                  type: integer
                  description: 成员数量
                max_member_num:
                  type: integer
                  description: 成员最大数量
                open_id:
                  type: string
                  description: 创建者OpenId
                status:
                  type: integer
                  description: 是否正常（0.不正常 1.正常）
                is_open:
                  type: integer
                  description: 是否开放成员邀请 0.否 1.是
                is_fund:
                  type: integer
                  description: 是否是经费群 0.否 1.是
                group_name:
                  type: string
                  description: 群名称
                group_no:
                  type: string
                  description: 群编号
                group_type:
                  type: integer
                  description: '群类型（1普通群,2企业/部门群,3经费群）'
                amount:
                  type: integer
                  description: 入群经费（普通群0）
                introduce:
                  type: string
                  description: 群简介
                create_time:
                  type: string
                  description: 创建时间
                update_time:
                  type: string
                  description: 修改时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groups/{group_no}':
    post:
      tags:
        - group
      summary: 加入经费群
      description: 加入经费群
      operationId: AutoJoinGroup
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: open_id
          in: path
          description: 用户OpenId
          required: true
          type: string
        - name: group_no
          in: path
          description: 群编号
          required: true
          type: string
        - in: body
          name: joinFundGroupInfo
          description: 群输入数据
          required: true
          schema:
            type: object
            properties:
              pay_token:
                type: string
                description: 支付token
              nick_name:
                type: string
                description: 用户名称
              ext:
                type: string
                description: 用户扩展字段
      responses:
        '200':
          description: 加入成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
    get:
      tags:
        - group
      summary: 查询群详情
      description: 查询群详情
      operationId: GroupQuery
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
      responses:
        '200':
          description: 查询成功
          schema:
            type: object
            properties:
              id:
                type: integer
                description: id
              app_id:
                type: string
                description: 应用id
              member_num:
                type: integer
                description: 成员数量
              max_member_num:
                type: integer
                description: 成员最大数量
              open_id:
                type: string
                description: 创建者OpenId
              status:
                type: integer
                description: 是否正常（0.不正常 1.正常）
              is_open:
                type: integer
                description: 是否开放成员邀请 0.否 1.是
              is_fund:
                type: integer
                description: 是否是经费群 0.否 1.是
              group_name:
                type: string
                description: 群名称
              group_no:
                type: string
                description: 群编号
              group_type:
                type: integer
                description: '群类型（1普通群,2企业/部门群,3经费群）'
              amount:
                type: integer
                description: 入群经费（普通群0）
              introduce:
                type: string
                description: 群简介
              create_time:
                type: string
                description: 创建时间
              update_time:
                type: string
                description: 修改时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
    put:
      tags:
        - group
      summary: 修改群信息
      description: 修改群信息
      operationId: GroupUpdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: body
          name: gruopUpdateInput
          description: 修改信息
          required: true
          schema:
            type: object
            properties:
              field_key:
                type: string
                description: >-
                  修改键名称(nick_name:在某群昵称 group_name：群名称 introduce：简介 is_open:
                  是否开放成员邀请 0.否 1.是)
              field_value:
                type: string
                description: 修改后的值
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
    delete:
      tags:
        - group
      summary: 删除某个群
      description: 删除某个群
      operationId: GroupDelete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groups/{group_no}/exit':
    put:
      tags:
        - group
      summary: 退出群聊
      description: 退出群聊
      operationId: GroupExit
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groups/{group_no}/transfer':
    post:
      tags:
        - group
      summary: 群主转让
      description: 群主转让
      operationId: GroupTransfer
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: body
          name: GroupTransferInput
          description: body
          required: true
          schema:
            type: object
            properties:
              field_key:
                type: string
                description: >-
                  修改键名称(nick_name:在某群昵称 group_name：群名称 introduce：简介 is_open:
                  是否开放成员邀请 0.否 1.是)
              field_value:
                type: string
                description: 修改后的值
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groups/{group_no}/operation/{type}':
    put:
      tags:
        - group
      summary: 保存|删除在通讯录
      description: 保存|删除在通讯录
      operationId: GroupJoinedOperation
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: path
          name: type
          description: 操作类型0删除1：添加
          required: true
          type: string
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              id:
                type: integer
                description: id
              create_time:
                type: string
                description: 创建时间
              update_time:
                type: string
                description: 修改时间
              app_id:
                type: string
                description: 应用ID
              group_name:
                type: string
                description: 群名称
              group_type:
                type: string
                description: 群类型
              group_no:
                type: string
                description: 群编号
              open_id:
                type: string
                description: 创建者id
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groups/{group_no}/fund':
    post:
      tags:
        - group
      summary: 加入经费群
      description: 加入经费群
      operationId: JoinFundGroup
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: open_id
          in: path
          description: 用户OpenId
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: body
          name: joinFundGroupInfo
          description: 群输入数据
          required: true
          schema:
            type: object
            properties:
              pay_token:
                type: string
                description: 支付token
              nick_name:
                type: string
                description: 用户名称
              ext:
                type: string
                description: 用户扩展字段
      responses:
        '200':
          description: 加入成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groups/{group_no}/normal':
    post:
      tags:
        - group
      summary: 加入普通群
      description: 加入普通群
      operationId: JoinNormalGroup
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: body
          name: members
          description: 群成员数据
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: 成员名称
              open_id:
                type: string
                description: 成员OpenId
              cust_id:
                type: string
                description: 成员聊天id
              ext:
                type: string
                description: 扩展字段
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groups/{group_no}/members':
    post:
      tags:
        - group_members
      summary: 添加群成员
      description: 添加群成员
      operationId: GroupMembersAdd
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: body
          name: members
          description: 群成员数据
          required: true
          schema:
            type: object
            properties:
              open_id:
                type: string
                description: 邀请者OpenId
              members:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: 成员名称
                    open_id:
                      type: string
                      description: 成员OpenId
                    cust_id:
                      type: string
                      description: 成员聊天id
                    ext:
                      type: string
                      description: 扩展字段
      responses:
        '200':
          description: 成功
          schema:
            type: array
            items:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用id
                group_no:
                  type: string
                  description: 群编号
                status:
                  type: integer
                  description: 成员状态 1.正常 0.异常
                role:
                  type: integer
                  description: 角色
                id:
                  type: integer
                  description: id
                name:
                  type: string
                  description: 成员名称
                open_id:
                  type: string
                  description: 成员OpenId
                cust_id:
                  type: string
                  description: 成员聊天id
                ext:
                  type: string
                  description: 扩展字段
                create_time:
                  type: string
                  description: 添加时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
    delete:
      tags:
        - group_members
      summary: 删除群成员
      description: 删除群成员
      operationId: GroupMemberDelete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: body
          name: members
          description: 群成员数据
          required: true
          schema:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                  description: 成员名称
                open_id:
                  type: string
                  description: 成员OpenId
                cust_id:
                  type: string
                  description: 成员聊天id
                ext:
                  type: string
                  description: 扩展字段
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
    get:
      tags:
        - group_members
      summary: 获取群成员
      description: 获取群成员
      operationId: GroupMemberQuery
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - name: page_index
          in: query
          description: 页码
          required: true
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: true
          type: integer
      responses:
        '200':
          description: 成功
          schema:
            type: array
            items:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用id
                group_no:
                  type: string
                  description: 群编号
                status:
                  type: integer
                  description: 成员状态 1.正常 0.异常
                role:
                  type: integer
                  description: 角色
                id:
                  type: integer
                  description: id
                name:
                  type: string
                  description: 成员名称
                open_id:
                  type: string
                  description: 成员OpenId
                cust_id:
                  type: string
                  description: 成员聊天id
                ext:
                  type: string
                  description: 扩展字段
                create_time:
                  type: string
                  description: 添加时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groups/{group_no}/members/exist':
    get:
      tags:
        - group_members
      summary: 检查是否在群聊
      description: 检查是否在群聊
      operationId: GroupMemberExist
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
      responses:
        '200':
          description: 成功
          schema:
            type: array
            items:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用id
                group_no:
                  type: string
                  description: 群编号
                status:
                  type: integer
                  description: 成员状态 1.正常 0.异常
                role:
                  type: integer
                  description: 角色
                id:
                  type: integer
                  description: id
                name:
                  type: string
                  description: 成员名称
                open_id:
                  type: string
                  description: 成员OpenId
                cust_id:
                  type: string
                  description: 成员聊天id
                ext:
                  type: string
                  description: 扩展字段
                create_time:
                  type: string
                  description: 添加时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groupjoinaudit/{group_no}':
    post:
      tags:
        - group_audit
      summary: 申请入群
      description: 申请入群
      operationId: GroupJoinAuditAdd
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: body
          name: GroupJoinAudioInput
          description: 申请输入数据
          required: true
          schema:
            type: object
            properties:
              group_no:
                type: string
                description: 群编号
              group_name:
                type: string
                description: 群名称
              group_type:
                type: string
                description: 群类型
              create_cust_id:
                type: string
                description: 创建者聊天id
              create_open_id:
                type: string
                description: 创建者聊天OpenId
              apply_cust_id:
                type: string
                description: 申请者聊天id
              apply_name:
                type: string
                description: 申请者名称
              apply_sex:
                type: integer
                description: 申请者性别
      responses:
        '200':
          description: 成功
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: id
                app_id:
                  type: string
                  description: 应用id
                group_no:
                  type: string
                  description: 群编号
                group_name:
                  type: string
                  description: 群名称
                group_type:
                  type: string
                  description: 群类型
                create_cust_id:
                  type: string
                  description: 创建者聊天id
                create_open_id:
                  type: string
                  description: 创建者聊天OpenId
                apply_open_id:
                  type: string
                  description: 申请者聊天OpenId
                apply_cust_id:
                  type: string
                  description: 申请者聊天id
                apply_name:
                  type: string
                  description: 申请者名称
                apply_sex:
                  type: integer
                  description: 申请者性别
                status:
                  type: integer
                  description: 审核状态 1.已通过 0.等待审核
                create_time:
                  type: string
                  description: 申请时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
    put:
      tags:
        - group_audit
      summary: 通过或拒绝申请
      description: 通过或拒绝申请
      operationId: GroupJoinAuditUpdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: body
          name: GroupJionAuditHandleInput
          description: 操作输入数据
          required: true
          schema:
            type: object
            properties:
              apply_open_id:
                type: string
                description: 申请者OpenId
              handle_type:
                type: string
                description: 操作类型1：通过，2：拒绝
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/users/{open_id}/groups/{group_no}/groupjoinaudit/{id}':
    delete:
      tags:
        - group_audit
      summary: 删除申请记录
      description: 删除申请记录
      operationId: GroupJoinAuditDelete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: open_id
          description: 用户open_id
          required: true
          type: string
        - in: path
          name: group_no
          description: 群id
          required: true
          type: string
        - in: path
          name: id
          description: 申请记录id
          required: true
          type: string
      responses:
        '200':
          description: 成功
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
      security:
        - open_id: []
        - Authorization: []
  '/groups/{group_no}/members':
    get:
      tags:
        - group_members
      summary: 获取某个群的所有成员
      description: 获取某个群的所有成员
      operationId: GroupMembersQuery
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: group_no
          in: path
          description: 群编号
          required: true
          type: string
        - name: page_index
          in: query
          description: 页码
          required: true
          type: integer
        - name: page_size
          in: query
          description: 页大小
          required: true
          type: integer
      responses:
        '200':
          description: 成功
          schema:
            type: array
            items:
              type: object
              properties:
                app_id:
                  type: string
                  description: 应用id
                group_no:
                  type: string
                  description: 群编号
                status:
                  type: integer
                  description: 成员状态 1.正常 0.异常
                role:
                  type: integer
                  description: 角色
                id:
                  type: integer
                  description: id
                name:
                  type: string
                  description: 成员名称
                open_id:
                  type: string
                  description: 成员OpenId
                cust_id:
                  type: string
                  description: 成员聊天id
                ext:
                  type: string
                  description: 扩展字段
                create_time:
                  type: string
                  description: 添加时间
        '400':
          description: 错误
          schema:
            type: object
            properties:
              err_code:
                type: string
              err_msg:
                type: string
securityDefinitions:
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: 用户token
  open_id:
    type: apiKey
    in: header
    name: open_id
    description: 用户open_id
  sign:
    type: apiKey
    in: header
    name: sign
    description: 签名
  app_id:
    type: apiKey
    in: header
    name: app_id
    description: 应用ID
definitions:
  GroupTransferInput:
    type: object
    properties:
      new_open_id:
        type: string
        description: 新群主open_id
  GroupInput:
    type: object
    properties:
      group_name:
        type: string
        description: 群名称
      group_type:
        type: integer
        description: '群类型（1普通群,2企业/部门群,3经费群）'
      amount:
        type: integer
        description: 入群经费（普通群0）
      is_fund:
        type: integer
        description: 是否是经费群 0.否 1.是
      introduce:
        type: string
        description: 群简介
      members:
        type: array
        items:
          type: object
          properties:
            name:
              type: string
              description: 成员名称
            open_id:
              type: string
              description: 成员OpenId
            cust_id:
              type: string
              description: 成员聊天id
            ext:
              type: string
              description: 扩展字段
  Group:
    type: object
    properties:
      id:
        type: integer
        description: id
      app_id:
        type: string
        description: 应用id
      member_num:
        type: integer
        description: 成员数量
      max_member_num:
        type: integer
        description: 成员最大数量
      open_id:
        type: string
        description: 创建者OpenId
      status:
        type: integer
        description: 是否正常（0.不正常 1.正常）
      is_open:
        type: integer
        description: 是否开放成员邀请 0.否 1.是
      is_fund:
        type: integer
        description: 是否是经费群 0.否 1.是
      group_name:
        type: string
        description: 群名称
      group_no:
        type: string
        description: 群编号
      group_type:
        type: integer
        description: '群类型（1普通群,2企业/部门群,3经费群）'
      amount:
        type: integer
        description: 入群经费（普通群0）
      introduce:
        type: string
        description: 群简介
      create_time:
        type: string
        description: 创建时间
      update_time:
        type: string
        description: 修改时间
  GroupMemberInput:
    type: object
    properties:
      name:
        type: string
        description: 成员名称
      open_id:
        type: string
        description: 成员OpenId
      cust_id:
        type: string
        description: 成员聊天id
      ext:
        type: string
        description: 扩展字段
  GroupMemberAddInput:
    type: object
    properties:
      open_id:
        type: string
        description: 邀请者OpenId
      members:
        type: array
        items:
          type: object
          properties:
            name:
              type: string
              description: 成员名称
            open_id:
              type: string
              description: 成员OpenId
            cust_id:
              type: string
              description: 成员聊天id
            ext:
              type: string
              description: 扩展字段
  GroupMember:
    type: object
    properties:
      app_id:
        type: string
        description: 应用id
      group_no:
        type: string
        description: 群编号
      status:
        type: integer
        description: 成员状态 1.正常 0.异常
      role:
        type: integer
        description: 角色
      id:
        type: integer
        description: id
      name:
        type: string
        description: 成员名称
      open_id:
        type: string
        description: 成员OpenId
      cust_id:
        type: string
        description: 成员聊天id
      ext:
        type: string
        description: 扩展字段
      create_time:
        type: string
        description: 添加时间
  GruopUpdateInput:
    type: object
    properties:
      field_key:
        type: string
        description: >-
          修改键名称(nick_name:在某群昵称 group_name：群名称 introduce：简介 is_open: 是否开放成员邀请
          0.否 1.是)
      field_value:
        type: string
        description: 修改后的值
  GroupJoined:
    type: object
    properties:
      id:
        type: integer
        description: id
      create_time:
        type: string
        description: 创建时间
      update_time:
        type: string
        description: 修改时间
      app_id:
        type: string
        description: 应用ID
      group_name:
        type: string
        description: 群名称
      group_type:
        type: string
        description: 群类型
      group_no:
        type: string
        description: 群编号
      open_id:
        type: string
        description: 创建者id
  GroupJoinAuditInput:
    type: object
    properties:
      group_no:
        type: string
        description: 群编号
      group_name:
        type: string
        description: 群名称
      group_type:
        type: string
        description: 群类型
      create_cust_id:
        type: string
        description: 创建者聊天id
      create_open_id:
        type: string
        description: 创建者聊天OpenId
      apply_cust_id:
        type: string
        description: 申请者聊天id
      apply_name:
        type: string
        description: 申请者名称
      apply_sex:
        type: integer
        description: 申请者性别
  GroupJoinAudit:
    type: object
    properties:
      id:
        type: integer
        description: id
      app_id:
        type: string
        description: 应用id
      group_no:
        type: string
        description: 群编号
      group_name:
        type: string
        description: 群名称
      group_type:
        type: string
        description: 群类型
      create_cust_id:
        type: string
        description: 创建者聊天id
      create_open_id:
        type: string
        description: 创建者聊天OpenId
      apply_open_id:
        type: string
        description: 申请者聊天OpenId
      apply_cust_id:
        type: string
        description: 申请者聊天id
      apply_name:
        type: string
        description: 申请者名称
      apply_sex:
        type: integer
        description: 申请者性别
      status:
        type: integer
        description: 审核状态 1.已通过 0.等待审核
      create_time:
        type: string
        description: 申请时间
  JoinFundGroupInfo:
    type: object
    properties:
      pay_token:
        type: string
        description: 支付token
      nick_name:
        type: string
        description: 用户名称
      ext:
        type: string
        description: 用户扩展字段
  GroupJionAuditHandleInput:
    type: object
    properties:
      apply_open_id:
        type: string
        description: 申请者OpenId
      handle_type:
        type: string
        description: 操作类型1：通过，2：拒绝
  Error:
    type: object
    properties:
      err_code:
        type: string
      err_msg:
        type: string
