{"swagger":"2.0","info":{"description":"通讯录服务","version":"1.0.0","title":"通讯录服务"},"host":"contactsapi.qiyunxin.com","tags":[{"name":"contacts","description":"通讯录"}],"securityDefinitions":{"app_id":{"type":"apiKey","in":"header","name":"app_id","description":"应用ID"},"Authorization":{"type":"apiKey","in":"header","name":"Authorization","description":"用户token"}},"schemes":["http"],"basePath":"/v1","produces":["application/json"],"paths":{"/users/{open_id}/contactsmatch":{"post":{"security":[{"app_id":[]},{"Authorization":[]}],"tags":["contacts"],"summary":"匹配联系人","description":"匹配联系人","operationId":"ContactsMatch","parameters":[{"in":"path","name":"open_id","description":"用户open_id","type":"string","required":true},{"in":"body","name":"body","description":"联系人数据(此JSON数据需要通过des加密)","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"contact_name":{"type":"string","description":"联系人名称"},"mobile":{"type":"string","description":"联系人手机号"}}}}}],"responses":{"200":{"description":"返回","schema":{"type":"array","items":{"type":"object","description":"联系人匹配结果","properties":{"contact_name":{"type":"string","description":"联系人名称"},"mobile":{"type":"string","description":"联系人手机号"},"open_id":{"type":"string","description":"用户open_id，用户已注册的情况下有"},"relation":{"type":"string","description":"friend 朋友 空字符串为用户未注册"}}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}},"/usersync":{"get":{"tags":["contacts"],"summary":"同步用户数据","description":"同步用户数据","operationId":"UsersSync","responses":{"200":{"description":"返回","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}},"/userupdate":{"put":{"tags":["contacts"],"summary":"更新用户数据","description":"更新用户数据","operationId":"UserUpdate","parameters":[{"in":"body","name":"body","description":"用户数据","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"open_id":{"type":"string","description":"用户open_id"},"mobile":{"type":"string","description":"联系人手机号"}}}}}],"responses":{"200":{"description":"返回","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}}},"definitions":{"userinfo":{"type":"object","properties":{"open_id":{"type":"string","description":"用户open_id"},"mobile":{"type":"string","description":"联系人手机号"}}},"contact":{"type":"object","properties":{"contact_name":{"type":"string","description":"联系人名称"},"mobile":{"type":"string","description":"联系人手机号"}}},"ContactMatchResult":{"type":"object","description":"联系人匹配结果","properties":{"contact_name":{"type":"string","description":"联系人名称"},"mobile":{"type":"string","description":"联系人手机号"},"open_id":{"type":"string","description":"用户open_id，用户已注册的情况下有"},"relation":{"type":"string","description":"friend 朋友 空字符串为用户未注册"}}},"remark":{"type":"object","properties":{"remarked_id":{"type":"string","description":"备注人open_id"},"type":{"type":"string","description":"类型 名字类型 comm. 普通名字 remark. 备注名字  ingroup. 群内名字"},"group_no":{"type":"string","description":"群编号 类型为ingroup时必填"},"name":{"type":"string","description":"名称"}}},"BaseModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"id"},"app_id":{"type":"string","description":"app id"},"create_time":{"type":"string","description":"创建时间"},"update_time":{"type":"string","description":"修改时间"}}},"Error":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}