{"swagger":"2.0","info":{"title":"文件服务","description":"文件服务","version":"1.0.0"},"host":"fileapi.qiyunxin.com","securityDefinitions":{"app_id":{"type":"apiKey","in":"header","name":"app_id","description":"应用ID"},"Authorization":{"type":"apiKey","in":"header","name":"Authorization","description":"用户token"},"sign":{"type":"apiKey","in":"header","name":"sign","description":"签名"},"noncestr":{"type":"apiKey","in":"header","name":"noncestr","description":"随机字符串"},"timestamp":{"type":"apiKey","in":"header","name":"timestamp","description":"时间戳"}},"schemes":["http"],"basePath":"/v1","produces":["application/json"],"paths":{"/users/{open_id}/namespaces/{namespace}/{path}":{"post":{"security":[{"app_id":[]},{"Authorization":[]}],"summary":"文件上传(用户私有)","description":"文件上传(用户私有)\n","consumes":["multipart/form-data"],"parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"namespace","in":"path","description":"命名空间(private:读写都需要用户认证, protected:写需要认证，读不需要认证 public:读写都不需要认证)","required":true,"type":"string"},{"name":"path","in":"path","description":"文件路径","required":true,"type":"string"},{"name":"file","in":"formData","description":"上传文件","required":true,"type":"file"},{"name":"ov","in":"query","description":"1.覆盖  0.不覆盖","type":"string","required":false},{"name":"names","in":"query","description":"文件名称 多个以逗号隔开 （不传则默认为文件名）","type":"string","required":false}],"tags":["files"],"responses":{"200":{"description":"文件对象","schema":{"items":{"type":"string"}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}},"get":{"summary":"文件下载(用户私有)","description":"文件下载(用户私有)\n","parameters":[{"name":"open_id","in":"path","description":"用户open_id","required":true,"type":"string"},{"name":"namespace","in":"path","description":"命名空间(private:读写都需要用户认证, protected:写需要认证，读不需要认证 public:读写都不需要认证)","required":true,"type":"string"},{"name":"path","in":"path","description":"文件路径","required":true,"type":"string"}],"tags":["files"],"responses":{"200":{"description":"文件流"},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}},"/namespaces/{namespace}/{path}":{"post":{"security":[{"app_id":[]}],"summary":"文件上传","description":"文件上传\n","consumes":["multipart/form-data"],"parameters":[{"name":"namespace","in":"path","description":"命名空间(目前只支持public)","required":true,"type":"string"},{"name":"path","in":"path","description":"文件路径","required":true,"type":"string"},{"name":"file","in":"formData","description":"上传文件","required":true,"type":"file"},{"name":"ov","in":"query","description":"1.覆盖  0.不覆盖","type":"string","required":false},{"name":"names","in":"query","description":"文件名称 多个以逗号隔开 （不传则默认为文件名）","type":"string","required":false}],"tags":["files"],"responses":{"200":{"description":"文件对象","schema":{"items":{"type":"string"}}},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}},"get":{"security":[{"app_id":[]}],"summary":"文件下载","description":"文件下载\n","parameters":[{"name":"namespace","in":"path","description":"命名空间(目前只支持public)","required":true,"type":"string"},{"name":"path","in":"path","description":"文件路径","required":true,"type":"string"}],"tags":["files"],"responses":{"200":{"description":"文件流"},"400":{"description":"错误","schema":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}}}},"definitions":{"Error":{"type":"object","properties":{"err_code":{"type":"string"},"err_msg":{"type":"string"}}}}}